<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= profile.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= profile.age %>
  </p>

  <p>
    <strong>Phno:</strong>
    <%= profile.phno %>
  </p>

  <p>
    <strong>Qualification:</strong>
    <%= profile.qualification %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
