<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>
<% if @current_user.profile.nil? %>
<%= render "form", profile: @profile %>
<% else %>

<div id="profiles">
<p>
    <strong>Name:</strong>
    <%= @current_user.profile.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @current_user.profile.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @current_user.profile.age %>
  </p>

  <p>
    <strong>Phno:</strong>
    <%= @current_user.profile.phno %>
  </p>

  <p>
    <strong>Qualification:</strong>
    <%= @current_user.profile.qualification %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @current_user.profile.user_id %>
  </p>    <% if @current_user.profile.image.attached? %>
    <%= image_tag @current_user.profile.image%>
    <% else %>
    <p>No image</p>
    <% end %>
</div>
<%= link_to "Your Paymets", payments_path, class: "btn btn-primary" %>
<br>
<%= link_to "Edit profile", edit_user_profile_path(@current_user.id, @current_user.profile), class: "btn btn-secondary" %>
<% end %>
