<p style="color: green"><%= notice %></p>

<%= render @profile %>
<%= image_tag @profile.image%>
<div>
  <%= link_to "Edit this profile", edit_user_profile_path(@profile) %> |
  <%= link_to "Back to profiles", user_profiles_path %>

  <%= button_to "Destroy this profile", user_profile_path(@profile), method: :delete %>
</div>
