<h1>Entroll in <%= @course.course_name %></h1>

<%= form_for @entrollment do |f| %>
  <div class="field">
    <label for="entrollment_status">Status</label>
    <%= f.hidden_field :status, value: "requested" %>
    Requested
  </div>

  <%= f.hidden_field :course_id %>
  <%= f.hidden_field :user_id %>

  <div class="actions">
    <%= f.submit 'Entroll' %>
  </div>
<% end %>

<%= link_to 'Back to Courses', courses_path %>
