<div class="relative w-full lg:max-w-[47rem] sm:max-w-[32rem] max-h-full max-w-[20rem] ml-[42px] sm:ml-[25px] md:ml-[0px]">
  <!-- Modal content -->
  <div class="relative bg-white rounded-[5px] shadow dark:bg-gray-700">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 md:p-5 rounded-t dark:border-gray-600">
      <h3 class="text-[26px] font-semibold text-[#0BC08B] text-center flex justify-center w-full">
        EDIT SECTION
      </h3>
      <button type="button" id="modal-close-btn" class="text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white loader-btn" data-modal-hide="large-modal">
        <svg class="w-8 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="#0BC08B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <div class="p-7 space-y-6 lg:w-[95%] sm:w-[95%] w-[90%] mr-auto lg:ml-auto ml-5">
      <%= form_for(course_section, url: admin_course_chapter_path(course_section), html: { class: "validate", id: "section-admin-edit-form" }, method: :patch, format: :turbo_stream) do |f| %>
        <div class="flex flex-col md:flex-row">
          <label for="title" class="w-full md:w-[45%] block mb-2 text-lg font-medium text-[#000] dark:text-white">Title</label>
          <div class="w-full sm:w-[55%] flex flex-col mb-4">
            <%= f.text_field :title, class: "w-full bg-[#F5F5F5] border-0 text-[#818181] text-[16px] rounded-lg focus:ring-0 focus:ring-offset-0 focus:border-gray-200 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
            <div class="text-red-600 text-sm mt-1" id="title-error"></div>
            <% if course_section&.errors&.any? %>
              <% if course_section.errors[:title].any? %>
                <div class="text-red-600 text-sm mt-1">
                  <%= course_section.errors.full_messages_for(:title).join(', ') %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="flex flex-col md:flex-row">
          <label for="description" class="w-full md:w-[45%] block mb-2 text-lg font-medium text-[#000] dark:text-white">Description<span class="text-[15px] text-[#C6C6C6] font-medium">(optional)</span></label>
          <div class="w-full sm:w-[55%] flex flex-col mb-4">
            <%= f.text_area :description, class: 'resize-none bg-[#F5F5F5] border-0 text-[#818181] text-[16px] rounded-lg focus:ring-0 focus:ring-offset-0 focus:border-gray-200  block w-full h-[110px] p-2.5 rounded-[7px]' %>
          </div>
        </div>
        <%= hidden_field_tag :page, params[:page]%>
        <%= hidden_field_tag :per_page, params[:per_page]%>
        <%= hidden_field_tag :search, params[:search]%>
        <div class="w-1/2 md:w-1/5 mx-auto mt-7">
          <%= f.submit "UPDATE", class: 'w-full md:ml-[50px] ml-[20px] text-white bg-gradient-to-r from-[#1AB69D] to-[#31B978] font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 button-gradiant-hover' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
