<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= user.profile&.name %>
  </p>
  <p>
    <strong>Role:</strong>
    <%= user.has_role?(:admin) ? 'Admin' : 'Student' %>
  </p>
  <p>
    <strong>Current Type:</strong>
    <%= user.current_type %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= user.deleted? ? 'Inactive' : 'Active' %>
  </p>
</div>
