  <!-- Modal body -->
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="name" class=" block mb-2 text-lg font-medium text-[#000]">Name</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[40px]">
          <%= student.name %>
        </p>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="email" class=" block mb-2 text-lg font-medium text-[#000]">Email</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[40px] truncate">
          <%= student.email %>
        </p>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="course" class="block mb-2 text-lg font-medium text-[#000]">Course</label>
      <div class="sm:w-[57%] lg:w-[55%] w-full">
       <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[40px] truncate">
          <% student.user_courses.each do |student_course| %>
          <%= student_course.course.course_name %>
          <%= ', ' unless student.user_courses.last == student_course %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="gender" class="block mb-2 text-lg font-medium text-[#000]">Gender</label>
      <div class="flex w-[57%] lg:w-[55%]">
        <p class="bg-[#F5F5F5] w-[100%] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[40px]">
          <%= student.gender %>
        </p>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="dataofbirth" class=" block mb-2 text-lg font-medium text-[#000]">Date of Birth</label>
      <div class="input-wrapper flex flex-col w-full sm:w-[57%] lg:w-[55%]">
        <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[40px]">
          <%= student.dataofbirth %>
        </p>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="contact number" class=" block mb-2 text-lg font-medium text-[#000]">Contact Number</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[40px]">
          <%= student.contact_number %>
        </p>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="occupation" class=" block mb-2 text-lg font-medium text-[#000]">Occupation</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[40px]">
          <%= student.occupation %>
        </p>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="education" class=" block mb-2 text-lg font-medium text-[#000]">Education</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[40px]">
          <%= student.education %>
        </p>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="address" class=" block mb-2 text-lg font-medium text-[#000]">Address</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[40px]">
          <%= student.addresses %>
        </p>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="emergency contact name" class=" block mb-2 text-lg font-medium text-[#000]">Emergency Contact Name</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[40px]">
          <%= student.emergency_contact_name %>
        </p>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="emergency contact number" class=" block mb-2 text-lg font-medium text-[#000]">Emergency Contact Number</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[40px]">
          <%= student.emergency_contact_number %>
        </p>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    </div>
  </div>
