  <!-- Modal body -->
<div class= "flex w-[100%] lg:gap-[50px] gap-[0px] flex-col lg:flex-row">
  <div class="mb-7 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    <label for="name" class=" block mb-2 text-lg font-medium text-[#000]">Name</label>
    <div class="w-full sm:w-[55%] flex flex-col">
      <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[45px] truncate">
        <%= student.name %>
      </p>
    </div>
  </div>
  <div class="mb-7 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    <label for="email" class=" block mb-2 text-lg font-medium text-[#000]">Email</label>
    <div class="w-full sm:w-[55%] flex flex-col">
      <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[45px] truncate">
        <%= student.email %>
      </p>
    </div>
  </div>
</div>
<div class= "flex w-[100%] lg:gap-[50px] gap-[0px] flex-col lg:flex-row">
  <div class="mb-7 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    <label for="gender" class="block mb-2 text-lg font-medium text-[#000]">Gender</label>
    <div class="flex w-[55%] lg:w-[55%]">
      <p class="bg-[#F5F5F5] w-[100%] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[45px]">
        <%= student.gender %>
      </p>
    </div>
  </div>
  <div class="mb-7 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    <label for="dataofbirth" class=" block mb-2 text-lg font-medium text-[#000]">Date of Birth</label>
    <div class="input-wrapper flex flex-col w-full sm:w-[55%] lg:w-[55%]">
      <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[45px]">
        <%= student.dataofbirth %>
      </p>
    </div>
  </div>
</div>
<div class= "flex w-[100%] lg:gap-[50px] gap-[0px] flex-col lg:flex-row">
  <div class="mb-7 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    <label for="contact number" class=" block mb-2 text-lg font-medium text-[#000]">Phone No</label>
    <div class="w-full sm:w-[55%] flex flex-col">
      <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[45px]">
        <%= student.contact_number %>
      </p>
    </div>
  </div>
  <div class="mb-7 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    <label for="occupation" class=" block mb-2 text-lg font-medium text-[#000]">Occupation</label>
    <div class="w-full sm:w-[55%] flex flex-col">
      <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[45px] truncate">
        <%= student.occupation %>
      </p>
    </div>
  </div>
</div>
<div class= "flex w-[100%] lg:gap-[50px] gap-[0px] flex-col lg:flex-row">
  <div class="mb-7 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    <label for="education" class=" block mb-2 text-lg font-medium text-[#000]">Education</label>
    <div class="w-full sm:w-[55%] flex flex-col">
      <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[45px] truncate">
        <%= student.education %>
      </p>
    </div>
  </div>
  <div class="mb-7 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    <label for="address" class=" block mb-2 text-lg font-medium text-[#000]">Address</label>
    <div class="w-full sm:w-[55%] flex flex-col">
      <textarea class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 ">
        <%= student.addresses %>
      </textarea>
    </div>
  </div>
</div>
<div class= "flex w-[100%] lg:gap-[50px] gap-[0px] flex-col lg:flex-row">
  <div class="mb-7 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    <label for="emergency contact name" class=" block mb-2 text-lg font-medium text-[#000]">Emergency Contact Name</label>
    <div class="w-full sm:w-[55%] lg:w-[55%] flex flex-col">
      <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[45px] truncate">
        <%= student.emergency_contact_name %>
      </p>
    </div>
  </div>
  <div class="mb-7 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    <label for="emergency contact number" class=" block mb-2 text-lg font-medium text-[#000]">Emergency Contact Number</label>
    <div class="w-full sm:w-[55%] lg:w-[55%] flex flex-col">
      <p class="bg-[#F5F5F5] border-0 text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200 h-[45px]">
        <%= student.emergency_contact_number %>
      </p>
    </div>
  </div>
</div>
