<%= content_for :head do %>
  <%= javascript_import_module_tag "controllers/attendance" %>
  <%= javascript_import_module_tag "controllers/yearpicker" %>
  <%= javascript_import_module_tag "controllers/monthpicker" %>
  <%= javascript_import_module_tag "controllers/notify" %>
<% end %>
<div class="flex flex-col w-full" id="start">
  <div class="flex w-[75%] sm:w-[80%] md:w-[88%] lg:w-[95%] mt-10 sm:mx-auto md:mr-auto lg:ml-[30px] sm:ml-[30px] md:ml-[56px] justify-between flex-col sm:flex-row md:flex-row sm:mr-[43px] ml-auto mr-[23px]">
    <div class="text-[#0BC08B] text-[16px] sm:text[16px] md:text-[18px] lg:text-[20px] mb-4 sm:mb-0 font-medium">Attendance Details</div>
    <div>
      <!-- Modal toggle -->
      <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block reset-form text-white bg-gradient-to-r from-[#1AB69D] to-[#31B978] px-1 py-1 md:px-4 md:py-2 rounded-[7px] text-base font-semibold hover:bg-[#0082CE] w-[150px] h-[42px] gradiant-hover loader-btn onclick-hover" type="button">
        <span class="font-semibold text-base">+ </span>ADD NEW
      </button>
      <!-- Main modal -->
      <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-[1000] hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full" style="backdrop-filter: contrast(0.5);">
        <div class="relative w-full lg:max-w-[48rem] sm:max-w-[32rem] max-h-full max-w-[20rem] ml-[42px] sm:ml-[25px] md:ml-[0px]">
          <!-- Modal content -->
          <div class="relative bg-white rounded-[5px] shadow dark:bg-gray-700">
            <button type="button" id="create-close-modal" class="absolute top-3 right-2.5 text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white loader-btn" data-modal-hide="authentication-modal">
              <svg class="w-8 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="#0BC08B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
              <h3 class="mb-4 sm:mb-7 md:mb-10 text-[26px] font-semibold text-[#0BC08B] dark:text-white text-center">NEW ATTENDACE</h3>
              <div class="lg:w-[90%] sm:w-[90%] w-[90%] mr-auto lg:ml-auto ml-5">
                <div class="" id="admin-form">
                  <%= render partial: 'admin/attendance_details/form', locals: { attendance_detail: @attendance_detail } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-between pt-10 md:pt-9 pb-4 md:w-[88%] lg:w-[95%] w-[95%] mr-auto lg:ml-[30px] md:ml-[55px] ml-[0px] flex-col sm:flex-row md:flex-row" id="lesson-filter-container">
    <div class="flex flex-col md:flex-col lg:flex-row gap-16 w-[50%]">
      <div class="text-[#31B978] text-[18px] font-bold  pb-4 sm:pb-0 w-[45%] relative">
        <%= date_field_tag :year, nil, class: 'datepicker-input mb-0 border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg', id: 'yearpicker', autocomplete: 'off', placeholder: 'Select Year', data: { target: 'yearpicker' } %>
        <svg id="datepicker-icon" class="absolute top-4 left-[19rem] w-6 h-6 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
          <g filter="url(#filter0_d_598_6971)">
            <path d="M25.3958 4.16699H23.1388V5.55588H25.2222V20.8337H5.77774V5.55588H7.86107V4.16699H5.60413C5.44179 4.16971 5.28158 4.20437 5.13265 4.26901C4.98371 4.33365 4.84897 4.427 4.73612 4.54372C4.62326 4.66044 4.53451 4.79826 4.47492 4.94928C4.41534 5.10031 4.38609 5.2616 4.38885 5.42394V20.9656C4.38609 21.1279 4.41534 21.2892 4.47492 21.4403C4.53451 21.5913 4.62326 21.7291 4.73612 21.8458C4.84897 21.9625 4.98371 22.0559 5.13265 22.1205C5.28158 22.1852 5.44179 22.2198 5.60413 22.2225H25.3958C25.5581 22.2198 25.7183 22.1852 25.8673 22.1205C26.0162 22.0559 26.151 21.9625 26.2638 21.8458C26.3767 21.7291 26.4654 21.5913 26.525 21.4403C26.5846 21.2892 26.6138 21.1279 26.6111 20.9656V5.42394C26.6138 5.2616 26.5846 5.10031 26.525 4.94928C26.4654 4.79826 26.3767 4.66044 26.2638 4.54372C26.151 4.427 26.0162 4.33365 25.8673 4.26901C25.7183 4.20437 25.5581 4.16971 25.3958 4.16699Z" fill="#0BC08B"/>
            <path d="M8.55566 9.72168H9.94455V11.1106H8.55566V9.72168Z" fill="#0BC08B"/>
            <path d="M12.7222 9.72168H14.1111V11.1106H12.7222V9.72168Z" fill="#0BC08B"/>
            <path d="M16.8889 9.72168H18.2778V11.1106H16.8889V9.72168Z" fill="#0BC08B"/>
            <path d="M21.0557 9.72168H22.4446V11.1106H21.0557V9.72168Z" fill="#0BC08B"/>
            <path d="M8.55566 13.1943H9.94455V14.5832H8.55566V13.1943Z" fill="#0BC08B"/>
            <path d="M12.7222 13.1943H14.1111V14.5832H12.7222V13.1943Z" fill="#0BC08B"/>
            <path d="M16.8889 13.1943H18.2778V14.5832H16.8889V13.1943Z" fill="#0BC08B"/>
            <path d="M21.0557 13.1943H22.4446V14.5832H21.0557V13.1943Z" fill="#0BC08B"/>
            <path d="M8.55566 16.667H9.94455V18.0559H8.55566V16.667Z" fill="#0BC08B"/>
            <path d="M12.7222 16.667H14.1111V18.0559H12.7222V16.667Z" fill="#0BC08B"/>
            <path d="M16.8889 16.667H18.2778V18.0559H16.8889V16.667Z" fill="#0BC08B"/>
            <path d="M21.0557 16.667H22.4446V18.0559H21.0557V16.667Z" fill="#0BC08B"/>
            <path d="M9.94444 6.94423C10.1286 6.94423 10.3053 6.87106 10.4355 6.74083C10.5657 6.6106 10.6389 6.43396 10.6389 6.24978V2.08312C10.6389 1.89894 10.5657 1.7223 10.4355 1.59207C10.3053 1.46184 10.1286 1.38867 9.94444 1.38867C9.76027 1.38867 9.58363 1.46184 9.4534 1.59207C9.32316 1.7223 9.25 1.89894 9.25 2.08312V6.24978C9.25 6.43396 9.32316 6.6106 9.4534 6.74083C9.58363 6.87106 9.76027 6.94423 9.94444 6.94423Z" fill="#0BC08B"/>
            <path d="M21.0555 6.94423C21.2397 6.94423 21.4163 6.87106 21.5466 6.74083C21.6768 6.6106 21.75 6.43396 21.75 6.24978V2.08312C21.75 1.89894 21.6768 1.7223 21.5466 1.59207C21.4163 1.46184 21.2397 1.38867 21.0555 1.38867C20.8714 1.38867 20.6947 1.46184 20.5645 1.59207C20.4342 1.7223 20.3611 1.89894 20.3611 2.08312V6.24978C20.3611 6.43396 20.4342 6.6106 20.5645 6.74083C20.6947 6.87106 20.8714 6.94423 21.0555 6.94423Z" fill="#0BC08B"/>
            <path d="M12.0278 4.16699H18.9723V5.55588H12.0278V4.16699Z" fill="#0BC08B"/>
          </g>
          <defs>
            <filter id="filter0_d_598_6971" x="0.388672" y="1.38867" width="30.2227" height="28.834" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_598_6971"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_598_6971" result="shape"/>
            </filter>
          </defs>
        </svg>
      </div>
      <div class="text-[#31B978] text-[18px] font-bold sm:ml-[10px] ml-[25px] pb-4 sm:pb-0 w-[45%] relative" id="section-dropdown">
        <%= date_field_tag :month, nil, class: 'datepicker-input border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg', id: 'myMonthPicker', autocomplete: 'off', placeholder: 'Select Month' %>
        <svg id="todatepicker-icon" class="absolute top-4 left-[21.5rem] w-6 h-6 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
          <g filter="url(#filter0_d_598_6971)">
            <path d="M25.3958 4.16699H23.1388V5.55588H25.2222V20.8337H5.77774V5.55588H7.86107V4.16699H5.60413C5.44179 4.16971 5.28158 4.20437 5.13265 4.26901C4.98371 4.33365 4.84897 4.427 4.73612 4.54372C4.62326 4.66044 4.53451 4.79826 4.47492 4.94928C4.41534 5.10031 4.38609 5.2616 4.38885 5.42394V20.9656C4.38609 21.1279 4.41534 21.2892 4.47492 21.4403C4.53451 21.5913 4.62326 21.7291 4.73612 21.8458C4.84897 21.9625 4.98371 22.0559 5.13265 22.1205C5.28158 22.1852 5.44179 22.2198 5.60413 22.2225H25.3958C25.5581 22.2198 25.7183 22.1852 25.8673 22.1205C26.0162 22.0559 26.151 21.9625 26.2638 21.8458C26.3767 21.7291 26.4654 21.5913 26.525 21.4403C26.5846 21.2892 26.6138 21.1279 26.6111 20.9656V5.42394C26.6138 5.2616 26.5846 5.10031 26.525 4.94928C26.4654 4.79826 26.3767 4.66044 26.2638 4.54372C26.151 4.427 26.0162 4.33365 25.8673 4.26901C25.7183 4.20437 25.5581 4.16971 25.3958 4.16699Z" fill="#0BC08B"/>
            <path d="M8.55566 9.72168H9.94455V11.1106H8.55566V9.72168Z" fill="#0BC08B"/>
            <path d="M12.7222 9.72168H14.1111V11.1106H12.7222V9.72168Z" fill="#0BC08B"/>
            <path d="M16.8889 9.72168H18.2778V11.1106H16.8889V9.72168Z" fill="#0BC08B"/>
            <path d="M21.0557 9.72168H22.4446V11.1106H21.0557V9.72168Z" fill="#0BC08B"/>
            <path d="M8.55566 13.1943H9.94455V14.5832H8.55566V13.1943Z" fill="#0BC08B"/>
            <path d="M12.7222 13.1943H14.1111V14.5832H12.7222V13.1943Z" fill="#0BC08B"/>
            <path d="M16.8889 13.1943H18.2778V14.5832H16.8889V13.1943Z" fill="#0BC08B"/>
            <path d="M21.0557 13.1943H22.4446V14.5832H21.0557V13.1943Z" fill="#0BC08B"/>
            <path d="M8.55566 16.667H9.94455V18.0559H8.55566V16.667Z" fill="#0BC08B"/>
            <path d="M12.7222 16.667H14.1111V18.0559H12.7222V16.667Z" fill="#0BC08B"/>
            <path d="M16.8889 16.667H18.2778V18.0559H16.8889V16.667Z" fill="#0BC08B"/>
            <path d="M21.0557 16.667H22.4446V18.0559H21.0557V16.667Z" fill="#0BC08B"/>
            <path d="M9.94444 6.94423C10.1286 6.94423 10.3053 6.87106 10.4355 6.74083C10.5657 6.6106 10.6389 6.43396 10.6389 6.24978V2.08312C10.6389 1.89894 10.5657 1.7223 10.4355 1.59207C10.3053 1.46184 10.1286 1.38867 9.94444 1.38867C9.76027 1.38867 9.58363 1.46184 9.4534 1.59207C9.32316 1.7223 9.25 1.89894 9.25 2.08312V6.24978C9.25 6.43396 9.32316 6.6106 9.4534 6.74083C9.58363 6.87106 9.76027 6.94423 9.94444 6.94423Z" fill="#0BC08B"/>
            <path d="M21.0555 6.94423C21.2397 6.94423 21.4163 6.87106 21.5466 6.74083C21.6768 6.6106 21.75 6.43396 21.75 6.24978V2.08312C21.75 1.89894 21.6768 1.7223 21.5466 1.59207C21.4163 1.46184 21.2397 1.38867 21.0555 1.38867C20.8714 1.38867 20.6947 1.46184 20.5645 1.59207C20.4342 1.7223 20.3611 1.89894 20.3611 2.08312V6.24978C20.3611 6.43396 20.4342 6.6106 20.5645 6.74083C20.6947 6.87106 20.8714 6.94423 21.0555 6.94423Z" fill="#0BC08B"/>
            <path d="M12.0278 4.16699H18.9723V5.55588H12.0278V4.16699Z" fill="#0BC08B"/>
          </g>
          <defs>
            <filter id="filter0_d_598_6971" x="0.388672" y="1.38867" width="30.2227" height="28.834" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_598_6971"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_598_6971" result="shape"/>
            </filter>
          </defs>
        </svg>
      </div>
    </div>
    <label for="table-search " class="sr-only">Search</label>
    <%= form_tag admin_attendance_details_path, method: :get, id: "attendance_search_form", data: { turbo_stream: true } do %>
      <div class="relative ml-[45px] sm:ml-[50px] md:ml-[55px] lg:ml-[60px]">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <img src="<%= asset_path("search.png") %>">
        </div>
        <%= text_field_tag :search, params[:search], id: "attendance_search", class: "block p-2 pl-10 text-sm text-[#818181] border-[0] focus:ring-0 rounded-lg md:w-72 h-11 bg-gray-50 dark:placeholder-gray-400 dark:text-white lg:w-full sm:w-[93%] w-[90%]", placeholder: "Search or type" %>
      </div>
    <% end %>
  </div>
  <div class="relative overflow-x-auto lg:overflow-x-hidden mt-4 w-[87%] sm:w-[90%] md:w-[95%] lg:w-[95%] mr-auto ml-[30px]">
    <div class="bg-white dark:bg-gray-800 h-[590px] relative overflow-x-auto lg:overflow-x-hidden mt-4 w-[87%] sm:w-[90%] md:w-[95%] lg:w-[100%] mr-auto ml-[30px] lg:ml-[0px]">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 overflow-auto table-auto">
        <thead class="text-[#000] bg-[#EDEDED] dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-5 font-medium text-[14px] sm:text-[14px] md:text:[16px] lg:text-[18px]">
              Student Name
            </th>
            <th scope="col" class="px-6 py-5 font-medium text-[14px] sm:text-[14px] md:text:[16px] lg:text-[18px]">
              Course
            </th>
            <th scope="col" class="px-6 py-5 font-medium text-[14px] sm:text-[14px] md:text:[16px] lg:text-[18px]">
              Class Date
            </th>
            <th scope="col" class="px-6 py-5 font-medium text-[14px] sm:text-[14px] md:text:[16px] lg:text-[18px]">
              Attendance
            </th>
            <th scope="col" class="px-6 py-5 font-medium text-[14px] sm:text-[14px] md:text-[16px] lg:text-[18px]">
              Action
            </th>
          </tr>
        </thead>
        <tbody class="overflow-auto" id="attendance-table">
          <%= render partial: "admin/attendance_details/table", locals: { attendance_details: @attendance_details } %>
        </tbody>
      </table>
    </div>
    <div id="large-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-[1000] hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full" style="backdrop-filter: contrast(0.5);">
      <%= turbo_frame_tag "edit-attendance-popup", class: "w-full lg:max-w-[60rem] sm:max-w-[32rem] max-h-full max-w-[20rem]" do %>
      <% end %>
    </div>
    <div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-[1000] hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full shadow-lg" style="backdrop-filter: contrast(0.5);">
      <div class="relative w-full max-w-[40rem] max-h-full shadow-md">
        <div class="relative bg-white rounded-[5px] shadow dark:bg-gray-700">
          <h4 class="text-[20px] font-medium pt-6 pl-6 pb-4 border-b-2 border-[#EDEDED] text-[#0BC08B] text-center mb-3">Confirm Deletion</h4>
          <button type="button" id="detele-modal-btn" class="absolute top-3 right-2.5 text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white loader-btn" data-modal-hide="popup-modal">
            <svg class="w-10 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="#0BC08B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="px-6 pb-6 pt-2">
            <h3 class="mb-5 text-base font-medium text-center text-[#818181] dark:text-gray-400 ">Are you sure you want to delete this item? This action cannot be undone.</h3>
            <div class="flex justify-center gap-[10px]">
              <%= link_to 'DELETE', "", data: { turbo_method: :delete }, class: "w-[150px] h-[42px] mr-2 text-white bg-gradient-to-r from-[#1AB69D] to-[#31B978] font-semibold rounded-[7px] text-[16px] block items-center px-9 py-2.5 text-center mr-2 button-gradiant-hover loader-btn", id:"delete-attendance-model" %>
              <button data-modal-hide="popup-modal" type="button" class="w-[150px] h-[42px] text-[#000] rounded-[7px] border bg-[#EDEDED] text-base font-medium px-9 py-2.5 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600 button-gradiant-hover-cancel loader-btn">CANCEL</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 ml-[30px] lg:ml-0" id="render-pagination">
      <%= render partial: 'admin/attendance_details/paginate', locals: { attendance_details: @attendance_details } %>
    </div>
  </div>
</div>
<script>
  $("#modal-close-btn").click();
  $("#detele-modal-btn").click();
</script>
