<div class="p-7 space-y-6 w-[90%] mr-auto ml-auto">
  <%= form_for(lesson, url: admin_section_lesson_path(lesson), method: :patch) do |f| %>
    <div class="flex flex-col md:flex-row w-full gap-5">
      <div class="flex flex-col md:flex-row items-start mb-4 md:w-[50%] w-full">
        <label for="Section Name" class="md:w-[43%] w-[30%] block mb-2 text-lg font-medium text-[#000]">Section Name</label>
        <%#= f.text_field :section_id, value: lesson.section.title, class: "border-0  text-[#818181] bg-[#F5F5F5] text-sm rounded-lg focus:ring-0 focus:ring-offset-0 focus:border-gray-200 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white mb-4" %>
      </div>
      <div class="flex flex-col md:flex-row items-start md:w-[50%] w-full">
        <label for="title" class="w-[60%] md:w-[42%] block mb-2 text-lg text-[#000] font-medium">Title</label>
        <div class="w-full sm:w-[100%] flex flex-col">
          <%= f.text_field :title, class: "border-0  text-[#818181] bg-[#F5F5F5] text-sm rounded-lg focus:ring-0 focus:ring-offset-0 focus:border-gray-200 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white mb-4" %>
          <% if lesson&.errors&.any? %>
            <% if lesson.errors[:title].any? %>
              <div class="text-red-600 text-sm mt-1">
                <%= lesson.errors.full_messages_for(:title).join(', ') %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row w-full gap-5">
      <div class="flex flex-col md:w-1/2 w-full gap-5">
        <div class="flex flex-col md:flex-row items-center mb-4">
          <label for="Clip" class="w-[60%] md:w-[30%] block mb-2 text-lg font-medium text-[#000]">Clip</label>
          <div class="bg-[#F5F5F5] h-[50px] flex items-center md:w-[70%] w-full rounded-lg">
            <div class="clipUpload">
              <svg class="fileUploadIcon" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.98477 14.8044C-1.04648 15.5856 -0.26523 6.99187 5.98477 7.77312C3.64102 -0.82063 16.9223 -0.820629 16.141 5.42937C23.9535 3.08562 23.9535 15.5856 16.9223 14.8044M7.54727 11.6794L11.4535 8.55437M11.4535 8.55437L15.3598 11.6794M11.4535 8.55437V20.2731" stroke="#818181" stroke-opacity="0.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </svg>
              <%= f.file_field :clip, name: "clip" %>
              <p class="clip text-[#818181]">Upload your files here</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row items-center mb-4">
          <label for="Clip" class="w-[60%] md:w-[30%] block mb-2 text-lg font-medium text-[#000]">Clip</label>
          <div class="bg-[#F5F5F5] h-[50px] flex items-center w-full md:w-[70%] rounded-lg">
            <div class="fileUploadWrap">
              <svg class="fileUploadIcon" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.98477 14.8044C-1.04648 15.5856 -0.26523 6.99187 5.98477 7.77312C3.64102 -0.82063 16.9223 -0.820629 16.141 5.42937C23.9535 3.08562 23.9535 15.5856 16.9223 14.8044M7.54727 11.6794L11.4535 8.55437M11.4535 8.55437L15.3598 11.6794M11.4535 8.55437V20.2731" stroke="#818181" stroke-opacity="0.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </svg>
              <%= f.file_field :attachments, multiple: true, name: "attachments" %>
              <p class="attachments text-[#818181]">Upload your files here</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row items-baseline mb-4 md:w-1/2 w-full">
        <label for="description" class="w-[60%] md:w-[30%] block mb-2 text-lg font-medium text-[#000]">Description
          <br>
          <span class="text-[15px] font-medium text-[#C6C6C6]">(optional)</span></label>
        <%= f.text_area :description, class: 'resize-none border-0 text-[#818181] bg-[#F5F5F5] text-[14px] rounded-lg focus:ring-0 focus:ring-offset-0 focus:border-gray-200 w-[292px]  block h-[110px] p-2.5 rounded-[7px]' %>      </div>
    </div>
    <div class="w-1/2 md:w-1/5 mx-auto mt-11">
      <%= f.submit "UPDATE", class: 'w-full text-white bg-gradient-to-r from-[#1AB69D] to-[#31B978] font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 button-gradiant-hover' %>
    </div>
  <% end %>
</div>
