  <%= form_for Lesson.new, url: admin_lessons_path, method: :post, html: { class: "custom-lesson", id: "lesson-admin-form" }, format: :turbo_stream do |f| %>
  <td><%= f.hidden_field :section_id, value: section_id %></td>
  <%= f.text_field :title, id:"title", class: "w-[110px] sm:w-[110px] md:w-[110px] lg:w-[20%] xl:w-[20%] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-0 focus:ring-offset-0 focus:border-gray-200 block p-2.5" %>
  <%= f.text_field :description, class: 'w-[125px] sm:w-[125px] md:w-[125px] lg:w-[25%] xl:w-[25%] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg outline-none focus:ring-0 focus:ring-offset-0 focus:border-gray-200 block  p-2.5 rounded-[7px]' %>
  <div class="clipUpload w-[25%]">
    <svg class="fileUploadIcon" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.98477 14.8044C-1.04648 15.5856 -0.26523 6.99187 5.98477 7.77312C3.64102 -0.82063 16.9223 -0.820629 16.141 5.42937C23.9535 3.08562 23.9535 15.5856 16.9223 14.8044M7.54727 11.6794L11.4535 8.55437M11.4535 8.55437L15.3598 11.6794M11.4535 8.55437V20.2731" stroke="#818181" stroke-opacity="0.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </svg>
    <%= f.file_field :clip %>
    <p class="clip text-[#818181]">Upload your files here</p>
  </div>
  <div class="fileUploadWrap w-[20%]">
    <svg class="fileUploadIcon" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.98477 14.8044C-1.04648 15.5856 -0.26523 6.99187 5.98477 7.77312C3.64102 -0.82063 16.9223 -0.820629 16.141 5.42937C23.9535 3.08562 23.9535 15.5856 16.9223 14.8044M7.54727 11.6794L11.4535 8.55437M11.4535 8.55437L15.3598 11.6794M11.4535 8.55437V20.2731" stroke="#818181" stroke-opacity="0.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </svg>
    <%= f.file_field :attachments, multiple: true %>
    <p class="attachments text-[#818181]">Upload your files here</p>
  </div>
  <%= f.submit "submit", type: "image", src: asset_path("checkmark.png"), class: "mt-[5px] ml-[25px] submit_lesson" %>
<% end %>
<script>
  $(document).on('turbo:submit-end', function (event) {
    if (event.detail.success) {
      $('#lesson-admin-form')[0].reset();
    }
  });
</script>
