<tbody class="overflow-auto filter-table-data" id="lessonTable">
  <% @lessons.each do |lesson| %>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"  >
      <td class="px-6 py-4 font-medium text-[15px] text-[#818181]">
        <%= lesson.title %>
      </td>
      <td class="px-6 py-4 font-medium text-[15px] text-[#818181]">
        <%= lesson.description %>
      </td>
      <td class="px-6 py-4 font-medium text-[15px] text-[#818181]">
        <% if lesson.clip.attached? %>
          <video id="video-<%= lesson.id %>" class="video-js" controls preload="auto" width="40" height="35" data-setup="{}">
            <source src="<%= url_for(lesson.clip) %>" type="video/mp4" /> </video>
        <% else %>
          <p>No lesson attached to this record.</p>
        <% end %>
      </td>
      <td class="px-6 py-4 font-medium text-[15px] text-[#818181]">
        <% if lesson.attachments.attached? %>
          <% lesson.attachments.each do |attachment| %>
            <%= link_to "Download #{attachment.filename}", rails_blob_path(attachment, disposition: "attachment") %>
            <br>
          <% end %>
        <% else %>
          <p>No attachments for this lesson.</p>
        <% end %>
      </td>
      <td class="px-6 py-4 flex gap-4">
        <button data-modal-target="steeper-lesson-large-modal" data-modal-toggle="steeper-lesson-large-modal" data-action="click->modal#toggle" data-turbo-frame="steeper-edit-lesson-popup-frame" data-url="<%= edit_admin_lesson_path(lesson) %>" class="block w-full md:w-auto edit-stepper-lesson-modal" type="button"> <img src="<%= asset_path("pencil.png") %>" alt="..."> </button>
        <button data-modal-target="stepper-lesson-popup-modal" data-modal-toggle="stepper-lesson-popup-modal" data-action="click->modal#toggle" data-lesson-id="<%= lesson.id %>" class="block send-stepper-delete-lesson" type="button"> <img src="<%= asset_path("delete.png") %>" alt="..." , class="del-img"> </button>
      </td>
    </tr>
  <% end %>
<script>
    $("#course-modal-close-btn").click();
    $("#course-detele-modal-btn").click();
    $("#section-modal-close-btn").click();
    $("#section-detele-modal-btn").click();
</script>
