<div class="container">
  <h1>Edit Lesson</h1>
  <%= form_for [:admin, @section, @lesson], url: admin_section_lesson_path(@section, @lesson) do |f| %>
    <div>
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
      <% if @lesson.errors.has_key?(:title) %>
        <span style="color: red">
          <%= @lesson.errors[:title].first %>
        </span>
      <% end %>
    </div>
    <div>
      <%= f.label :description %>
      <br>
      <%= f.text_field :description %>
      <% if @lesson.errors.has_key?(:description) %>
        <span style="color: red">
          <%= @lesson.errors[:description].first %>
        </span>
      <% end %>
    </div>
    <br>
    <div>
      <%= f.label :clip %>
      <br>
      <%= f.file_field :clip %>
      <% if @lesson.errors.has_key?(:clip) %>
        <span style="color: red">
          <%= @lesson.errors[:clip].first %>
        </span>
      <% end %>
    </div>
    <br>
    <div>
      <%= f.label :attachments %>
      <br>
      <% if @lesson.attachments.attached? %>
        <ul>
          <% @lesson.attachments.each do |attachment| %>
            <li>
              <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
              <%= f.check_box :_destroy, { multiple: true }, false, nil %>
              <%= f.label :_destroy, "Remove" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No attachments are currently attached.</p>
      <% end %>
      <%= f.file_field :attachments, multiple: true %>
    </div>
    <div>
      <br>
      <%= f.submit "Update Lesson", class: "btn btn-primary" %>
    </div>
  <% end %>
  <br>
  <%= link_to 'Back to Lesson List', admin_section_lessons_path, class: "btn btn-secondary" %>
</div>
