<div class="container">
  <h1>Lesson</h1>
  <table class="table table-striped">
    <thead>
      <th>Lesson Name</th>
      <th>Description</th>
      <th>Video</th>
      <th>Attachments</th>
      <th>Actions</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @lessons.each do |lesson| %>
        <tr>
          <td><%= lesson.title %></td>
          <td><%= lesson.description %></td>
          <td>
            <% if lesson.clip.attached? %>
              <video
                    id="video-<%= lesson.id %>" class="video-js" controls preload="auto" width="640" height="264"
                    data-setup="{}" >
                <source src="<%= url_for(lesson.clip) %>" type="video/mp4" />
              </video>
            <% else %>
              <p>No lesson attached to this record.</p>
            <% end %>
          </td>
          <td>
            <% if lesson.attachments.attached? %>
              <% lesson.attachments.each do |attachment| %>
                <%= link_to "Download #{attachment.filename}", rails_blob_path(attachment, disposition: "attachment") %><br>
              <% end %>
            <% else %>
              <p>No attachments for this lesson.</p>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_admin_section_lesson_path(@section, lesson), class: "btn btn-secondary" %></td>
          <td><%= link_to 'DELETE', admin_section_lesson_path(@section, lesson), data: {turbo_method: :delete}, class: "btn btn-danger" %></td>
          <td><%= link_to 'Show', admin_section_lesson_path(@section, lesson), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add Lesson', new_admin_section_lesson_path, class: "btn btn-primary" %>
  <br>
  <br>
  <%= link_to 'Home', root_path, class: "btn btn-secondary" %>
</div>
