<div id="<%= dom_id subscription_detail %>">
  <p>
    <strong>User:</strong>
    <%= subscription_detail.user_id %>
  </p>

  <p>
    <strong>Subscription:</strong>
    <%= subscription_detail.subscription_id %>
  </p>

  <p>
    <strong>Stripe subscription:</strong>
    <%= subscription_detail.stripe_subscription_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= subscription_detail.amount %>
  </p>

  <p>
    <strong>Paid at:</strong>
    <%= subscription_detail.paid_at %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= subscription_detail.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= subscription_detail.end_date %>
  </p>

</div>
