<%= form_for section || Section.new, url: course_id.present? ? admin_course_sections_path(course_id) : admin_sections_path, method: :post, html: { class: "custom-section", id: "stepper_section-form" }, format: :turbo_stream do |f| %>
  <%= f.hidden_field :course_id, value: course_id, class: "hide_course" %>
  <div class="flex flex-col w-[33%]">
    <%= f.text_field :title, id:"section_title", class: "hide_title w-full h-[45px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-0 focus:ring-offset-0 p-2.5 focus:border-gray-200" %>
    <div class="text-red-600 text-sm mt-1" id="section_title_error"></div>
    <% if section&.errors&.any? %>
      <% if section.errors[:title].any? %>
        <div class="text-red-600 text-sm mt-1">
          <%= section.errors.full_messages_for(:title).join(', ') %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.text_field :description, class: 'hide_description w-[40%] h-[45px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block focus:ring-0 focus:ring-offset-0 focus:border-gray-200 p-2.5 rounded-[7px]' %>
  <%= f.submit "submit", type: "image", src: asset_path("checkmark.png"), class: "mt-0 h-[45px] ml-[25px] submit_section" %>
<% end %>
