<div class="container">
<h1>Edit Section</h1>


  <%= form_for [:admin, @course, @section], url: admin_course_section_path( @course, @section) do |f| %>
    <div class="mb-3">
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <br>
      <%= f.text_area :description %>
    </div>
    <br>
      <%= f.submit "Update Section", class: "btn btn-primary" %>
  
  <% end %>
<br>
  <%= link_to 'Back to Section List', admin_course_sections_path, class: "btn btn-secondary" %>
</div>



