<h1>Sections</h1>
      <table >
        <thead>
          <th>Section Name</th>
        </thead>
        <tbody>
          <% @sections.each do |section| %>
            <tr>
              <td><%= section.title %></td>
              <td><%= link_to 'Edit', edit_admin_course_section_path(@courses, section) %></td>
            <td><%= link_to 'DELETE', admin_course_section_path(@courses, section), data: { turbo_method: :delete } %></td>
            <td><%= link_to 'Show', admin_course_section_path(@courses, section) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>  

      <br>
      <%= link_to 'Add Section', new_admin_course_section_path %>
      <br>
      <%= link_to "Back to Course", admin_courses_path(@course) %>



