<h1>New Section</h1>


<%= form_for [:admin, @course, @section], url: admin_course_sections_path(@course, @section) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.text_field :course_id, value: @course.id, readonly: true, type: "hidden" %>
      </div> 
    <br>
      <%= f.submit "Create Course" %>
  <% end %>
<br>
  <%= link_to 'Back to Section List', admin_course_sections_path %>

