<div class="container">
  <h1>New Section</h1>
<%= form_for [:admin, @course, @section], url: admin_course_sections_path(@course, @section) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
      <% if @section.errors.has_key?(:title) %>
        <span style="color: red">
          <%= @section.errors[:title].first %>
        </span>
      <% end %>
    </div>
    <div>
      <%= f.label :description %>
      <br>
      <%= f.text_area :description %>
      <% if @section.errors.has_key?(:description) %>
        <span style="color: red">
          <%= @section.errors[:description].first %>
        </span>
      <% end %>
    </div>
    <div>
      <%= f.text_field :course_id, value: @course.id, readonly: true, type: "hidden" %>
      </div> 
      <%= f.submit "Create Section", class: "btn btn-primary" %>
  <% end %>
<br>
  <%= link_to 'Back to Section List', admin_course_sections_path, class: "btn btn-secondary" %>
</div>
