<div class="w-full max-w-lg mx-auto flex justify-center flex-col mt-9">
  <div class="w-full max-w-lg p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="text-xl mb-7 font-medium text-gray-900 dark:text-white">Change your password</h5>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <% if resource.errors.has_key?(:reset_password_token) %>
        <p class="text-red-500 text-sm"><%= resource.errors.full_messages_for(:reset_password_token).join(", ") %></p>
      <% end %>
      <div class="field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", :class => "mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
        <% if resource.errors.has_key?(:password) %>
          <p class="text-red-500 text-sm"><%= resource.errors.full_messages_for(:password).join(", ") %></p>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
        <% if resource.errors.has_key?(:password_confirmation) %>
          <p class="text-red-500 text-sm"><%= resource.errors.full_messages_for(:password_confirmation).join(", ") %></p>
        <% end %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Change my password", class: "cursor-pointer block reset-form text-white bg-gradient-to-r from-[#1AB69D] to-[#31B978] px-1 py-1 md:px-4 md:py-2 rounded-[7px] text-base font-semibold hover:bg-[#0082CE] " %>
      </div>
    <% end %>
    <div class="flex mt-8">
      <%- if controller_name != 'sessions' %>
        <p class="text-center text-base">Remembered your password?</p>
        <%= link_to "Log in", new_session_path(resource_name), :class => "ml-2 font-semibold text-[#31B978]" %><br />
      <% end %>
    </div>
  </div>
</div>
