<h1>Page#index</h1>
<p>Find me in app/views/page/index.html.erb</p>
<% if user_signed_in? %>
  <h1>Welcome Home, <%= current_user.profile&.name %></h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
  <br>
  <% if current_user.has_role? :admin %>
    <%= link_to 'Admin', admin_users_path %>
  <% end %>
<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

<%= link_to "Course", courses_index_path %>