<% if @payments.present? %>
  <% @payments.each do |payment| %>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
      <th scope="row" class="px-6 py-4 font-medium text-[12px] sm:text-[14px] md:text-[15px] text-[#818181] whitespace-nowrap dark:text-white">
        <%= payment.user_course.user.name %>
      </th>
      <td class="px-6 py-4 font-medium text-[12px] sm:text-[14px] md:text-[15px] text-[#818181]">
        <%= payment.user_course.course.course_name %>
      </td>
      <td class="px-6 py-4 font-medium text-[12px] sm:text-[14px] md:text-[15px] text-[#818181]">
        <%= payment.paid_at&.strftime("%d/%m/%Y") %>
      </td>
      <td class="px-6 py-4 flex gap-8">
        <%= link_to invoice_admin_payment_path(payment, format: :pdf) do %>
          <div class="flex items-center">
            <img src="<%= asset_path("download.png") %>" alt="..."><span class="ml-2 text-[#0BC08B] text-[18px] font-medium">Download Invoice</span>
          </div>
        <% end %>
        <%= link_to generate_invoice_pdf_admin_payment_path(payment, format: :pdf) do %>
          <div class="flex items-center">
            <img src="<%= asset_path("send.png") %>" alt="....."><span class="ml-2 text-[#0BC08B] text-[18px] font-medium">Send Invoice</span>
          </div>
        <% end %>
      </button>
    </td>
  </tr>
<% end %>
<% else %>
  <tr>
    <td class="px-6 py-4"></td>
  </tr>
  <tr>
    <td class="px-6 py-4"></td>
  </tr>
  <tr>
    <td class="px-10 py-4"></td>
  </tr>
  <tr>
    <td class="px-6 py-4"></td>
  </tr>
  <tr>
    <td class="px-6 py-4"></td>
  </tr>
  <tr>
    <td class="px-6 py-4"></td>
  </tr>
  <tr>
    <td class="px-6 py-4"></td>
  </tr>
  <tr>
    <td colspan="12" class="px-6 py-4 font-semibold text-[12px] sm:text-[14px] md:text-[15px] lg:text-2xl text-[#818181] text-center">No data found</td>
  </tr>
<% end %>
