<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .test{
        display: flex;
        flex-direction: row;
      }
    </style>
  </head>
  <body id= "invoice">
    <div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;">
      <div class="wrapper">
        <div class="row margin-0 direction test" style="width: 100%; display: flex; flex-direction: row;">
          <div class="col-sm-5" style="width: 60%; display: flex; justify-content: space-between; flex-direction: column;">
            <img src="https://techvillageacademy.com/assets/images/logo/logo.png" alt="logo" style="width: 230px; height: 70px;">
            <p class="address">440, Sri Aishwaryam Nagar,<br />
              Karatadiplayam, 
              Gobichettipalayam, Erode<br />
              Tamil nadu-638 453. </p>
          </div>
          <div class="col-sm-7 padding-0" style="width: 40%; display: flex; justify-content: end;">
            <table class="table" cellspacing="0" cellpadding="10" >
              <tbody>
                <tr>
                  <td style= "text-align: end; font-weight: 600; font-size: 18px !important;" >
                    Date:
                  </td>
                  <td style= "font-size: 18px !important;">
                    <%= @payment.paid_at&.strftime("%B %d, %Y") %>
                  </td>
                </tr>
                <tr>
                  <td style= "text-align: end; font-weight: 600; font-size: 18px !important;">
                    Student Name:
                  </td>
                  <td style= "font-size: 18px !important;">
                    <%= @payment.user_course.user.name %>
                  </td>
                </tr>
                <tr>
                  <td style= "text-align: end; font-weight: 600; font-size: 18px !important;">
                    Payment ID:
                  </td>
                  <td style= "font-size: 18px !important;">
                    <%= @payment.id %>
                  </td>
                </tr>
                <tr style="">
                  <td style= "text-align: end; font-weight: 600; font-size: 18px !important;">
                    Contact No:
                  </td>
                  <td class="last" style= "font-size: 18px !important;">
                    <%= @payment.user_course.user.contact_number %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row margin-0">
          <div class="col-sm-12 padding-0">
            <table border="1" style="border-collapse: collapse; width: 100% !important; margin-left: auto !important; margin-right: auto !important;">
              <thead style="">
                <tr>
                  <th class="serial-no">
                    SNo
                  </th>
                  <th class="ourses">
                    Course
                  </th>
                  <th class="particulars">
                    Total Course Fee
                  </th>
                  <th class="amount">
                    Amount Paid 
                  </th>
                </tr>
              </thead>
              <tr style="height: 250px;">
                <td style="text-align: center !important;">
                  1
                </td>
                <td>
                  <p style="text-align: center !important;">
                    <%= @payment.user_course.course.course_name %>
                  </p>
                  <div class="">
                    <p>
                    </p>
                    <p>
                    </p>
                    <p>
                    </p>
                    <p>
                    </p>
                    <p>
                    </p>
                    <p>
                    </p>
                  </div>
                </td>
                <td></td>
                <td>
                  <p style="text-align: center !important; "><%= @payment.paid_amount %></p>
                  <div class="particular-items amount-items">
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                  </div>
                </td>
              </tr>
              <tr >
                <td colspan="2" style="text-align: end; margin-right: 15px !important; padding: 20px;">Balance</td>
                <td></td>
                <td></td>
              </tr>
              <tr style="border-top: 0px !important;">
                <td colspan="3" style="text-align: end; margin-right: 15px !important; border-top: 0px !important; padding: 20px;">
                  Total
                </td>
                <td style="text-align: center; border-top: 0px !important;"><%= @payment.paid_amount %></td>
              </tr>
            </table>
          </div>
        </div>
        <div style="width: 100%; height: 80px; border-bottom: 1px solid #000; padding-top: 10px;">
          <span style="font-size: 18px !important; margin-left: 15px !important;">Total Amount (In Words):</span>
          <p style="font-size: 18px !important; margin-left: 15px !important;"><%= @payment.paid_amount.to_words.capitalize %> rupees only /-</p>
        </div>
        <div  style="width: 100%; height: 240px; border-bottom: 0px solid #000;" class="signature">
          <div style="text-align: end; padding-bottom:125px; margin-right: 15px !important; margin-top: 10px !important;">
            <span style="font-size: 18px !important;">Authorized Signatory </span>
          </div>
          <div style="text-align: end; margin-right: 15px !important;">
            <p style="font-size: 18px !important;">Gayathri Tamilselvan</p>
            <p style="font-size: 18px !important;">Operational Head of Tech Village Academy </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
