<div class="container">
<h1>Create Payment</h1>
<%= form_for [:admin, @user, @entrollment, @payment], url: admin_payments_path, method: :post, multipart: true do |f| %>
  <div class="form-group">
    <%= f.label :user_id %>
    <br>
    <%= f.select :user_id, @users.map { |user| [user.email, user.id] }, {}, required: true %>
    <% if @payment.errors.has_key?(:user_id) %>
      <span style="color: red">
        <%= @payment.errors[:user_id].first %>
      </span>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :entrollment_id %>
    <br>
    <%= f.select :entrollment_id, @entrollments.includes(:user).map { |entrollment| [entrollment.course.course_name + " - " + entrollment.user.email, entrollment.id] }, {}, required: true %>
    <% if @payment.errors.has_key?(:entrollment_id) %>
      <span style="color: red">
        <%= @payment.errors[:entrollment_id].first %>
      </span>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :paid_at %>
    <br>
    <%= f.date_field :paid_at %>
    <% if @payment.errors.has_key?(:paid_at) %>
      <span style="color: red">
        <%= @payment.errors[:paid_at].first %>
      </span>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :amount %>
    <br>
    <%= f.number_field :amount %>
    <% if @payment.errors.has_key?(:amount) %>
      <span style="color: red">
        <%= @payment.errors[:amount].first %>
      </span>
    <% end %>
  </div>
  <br>
  <%= f.submit "Create Payment", class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to "Back to Payment List", admin_payments_path, class: "btn btn-secondary" %>
</div>
