<%= content_for :head do %>
  <%= javascript_import_module_tag "controllers/payment" %>
  <%= javascript_import_module_tag "controllers/notify" %>
<% end %>
<div class="flex flex-col w-full" id="start">
  <div class="flex w-[75%] sm:w-[80%] md:w-[88%] lg:w-[90%] mt-8 mb-5 sm:mx-auto md:mr-auto lg:ml-[98px] sm:ml-[30px] md:ml-[56px] justify-between flex-col sm:flex-row md:flex-row sm:mr-[43px] ml-auto mr-[23px]">
    <div class="text-[#818181] text-[16px] sm:text[16px] md:text-[18px] lg:text-[20px] mb-4 sm:mb-0 font-medium">Invoice Creation - Admin</div>
    <div>
    </div>
  </div>
  <div class="w-[75%] ml-[100px] mr-auto h-[75vh] bg-white rounded-[5px]" id="payment-filter-container">
    <div class= "flex flex-col">
      <div class="flex flex-col gap-12 w-[50%] ml-60 mr-auto mt-10" id="render-data">
        <div class="flex justify-between">
          <div class="text-[#000000] text-[18px] font-medium">
            Student Name
          </div>
          <div class="text-[#31B978] text-[18px] font-bold  pb-4 sm:pb-0">
            <%= collection_select(:user, :name, User.joins(:roles).where(roles: { name: 'student' }), :id, :name, { prompt: "Select Student", selected: '' }, { class: "bg-[#fff] border-[1px] foucus:ring-0 text-[#818181] text-[16px] font-medium rounded-lg outline-none block w-full p-2.5 rounded-[7px] bg-[#fff] text-[#818181] filter-handle custom-select sources" }) %>
          </div>
        </div>
        <%= turbo_frame_tag "course-select" do %>
        <% end %>
      </div>
      <%= hidden_field_tag :user_id, params[:user_id], class: "hidden", id:"get-user-id" %>
      <%= turbo_frame_tag "balance-data" do %>
      <% end %>
      <div class="w-[59%] ml-[100px] mr-auto mt-14">
        <%= turbo_frame_tag "payment-form" do %>
        <% end %>
      </div>
    </div>
  </div>
</div>
