<div id="<%= dom_id subscription %>">
  <p>
    <strong>User:</strong>
    <%= subscription.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= subscription.status %>
  </p>

  <p>
    <strong>Subscription type:</strong>
    <%= subscription.subscription_type %>
  </p>

  <p>
    <strong>Amount paid:</strong>
    <%= subscription.amount_paid %>
  </p>

  <p>
    <strong>Paid at:</strong>
    <%= subscription.paid_at %>
  </p>

  <p>
    <strong>Next due:</strong>
    <%= subscription.next_due %>
  </p>

  <p>
    <strong>Stripe subscription:</strong>
    <%= subscription.stripe_subscription_id %>
  </p>

</div>
