  <% content_for :head do %>
    <%= javascript_import_module_tag "/assets/controllers/lessons/show.js" %>
  <% end %>
    <div class="container-fluid d-flex" >
    <div class="change-lesson w-75">
    <%= render "lessons/show", locals: {course: @course, section: @section, lesson: @lesson} %>
    </div>
      <div class="w-25">
        <div class="accordion" id="accordionExample">
          <% @lesson.all_sections.each_with_index do |section, index| %>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading<%= index %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                  <%= section.title %>
                </button>
              </h2>
              <div id="collapse<%= index %>" class="accordion-collapse collapse show" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul>
                    <% section.lessons.each_with_index do |lesson, index| %>
                      <div class="d-flex justify-content-between <%= lesson.id == @lesson.id ? 'active' : '' %> lesson_data">
                        <div>
                          <li class="list-unstyled text-decoration-none">
                            <%= link_to lesson.title, course_section_lesson_path(@course, section, lesson), class: "text-decoration-none lesson_link", id: "lesson-#{index+ 1}", data: {lesson_index: index+ 1, turbo_frame: 'lesson-details' } %>
                          </li>
                        </div>
                        <div>
                          <li class="list-unstyled text-decoration-none me-5">
                          </li>
                        </div>
                      </div>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to "View Progress", lesson_entrollment_detail_path(@lesson) %>
