<div id="<%= dom_id enquire %>">
  <p>
    <strong>Name:</strong>
    <%= enquire.name %>
  </p>
  <p>
    <strong>Course:</strong>
    <%= enquire.course %>
  </p>
  <p>
    <strong>Contact:</strong>
    <%= enquire.contact %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= enquire.location %>
  </p>
  <p>
    <strong>Timeslot:</strong>
    <%= enquire.timeslot %>
  </p>
  <p>
    <strong>Number of People:</strong>
    <%= enquire.no_of_people %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= enquire.status %>
  </p>
  <p>
    <strong>Follow Up:</strong>
    <%= enquire.follow_up %>
  </p>
  <p>
    <strong>Remarks:</strong>
    <%= enquire.remarks %>
  </p>
  <p>
    <strong>Sales Person:</strong>
    <%= enquire.sales_person %>
  </p>
  <p>
    <strong>References:</strong>
    <%= enquire.references %>
  </p>
  <p>
    <strong>Lead Source:</strong>
    <%= enquire.lead_source %>
  </p>
</div>