<%= form_for enquire || Enquire.new, url: admin_enquires_path, html: { class: "validate", id: "enquire-admin-form" }, format: :turbo_stream, method: :post do |f| %>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="name" class=" block mb-2 text-lg font-medium text-[#000]">Name<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :name, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
        <div class="text-red-600 text-sm mt-1" id="name-error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:name].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:name).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="course" class=" block mb-2 text-lg font-medium text-[#000]">Course<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :course, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
        <div class="text-red-600 text-sm mt-1" id="course-error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:course].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:course).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="contact" class="block mb-2 text-lg font-medium text-[#000]">Contact<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col relative">
        <%= f.text_field :contact, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "new-contact" %>
        <div class="text-red-600 text-sm mt-1" id="contact-error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:contact].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:contact).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="location" class="w-full sm:w-[40%] lg:w-[46%]  block mb-2 text-lg font-medium text-[#000]">Location<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col relative">
        <%= f.text_field :location, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "new-contact" %>
        <div class="text-red-600 text-sm mt-1" id="contact-confirmation-error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:location].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:location).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="timeslot" class="block mb-2 text-lg font-medium text-[#000]">Timeslot</label>
      <div class="w-full sm:w-[55%] flex flex-col relative">
        <%= f.text_field :timeslot, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "new-contact" %>
        <div class="text-red-600 text-sm mt-1" id="contact-confirmation-error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:timeslot].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:timeslot).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="status" class="block mb-2 text-lg font-medium text-[#000]">Status</label>
      <div class="w-full sm:w-[55%] flex flex-col relative">
        <%= f.text_field :status, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "new-contact" %>
        <div class="text-red-600 text-sm mt-1" id="contact-confirmation-error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:status].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:status).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="no of people" class=" block mb-2 text-lg font-medium text-[#000]">No of People</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :no_of_people, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
        <div class="text-red-600 text-sm mt-1" id="contact-number-error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:no_of_people].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:no_of_people).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="follow_up" class=" block mb-2 text-lg font-medium text-[#000]">Follow Up<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :follow_up, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
        <div class="text-red-600 text-sm mt-1" id="occupation-error"></div>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="remarks" class=" block mb-2 text-lg font-medium text-[#000]">Remarks</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :remarks, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="sales person" class=" block mb-2 text-lg font-medium text-[#000]">Sales Person</label>
      <div class="w-full sm:w-[55%] flex flex-coll">
        <%= f.text_field :sales_person, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="references" class=" block mb-2 text-lg font-medium text-[#000]">References</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :references, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="lead source" class=" block mb-2 text-lg font-medium text-[#000]">Lead Source</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :lead_source, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
        <div class="text-red-600 text-sm mt-1" id="emergency-contact-number-error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:lead_source].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:lead_source).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= hidden_field_tag :page, params[:page]%>
  <%= hidden_field_tag :per_page, params[:per_page]%>
  <%= hidden_field_tag :search, params[:search]%>
  <div class="w-[150px] mx-auto mt-4 sm:mt-6">
    <%= f.submit "CREATE", class: 'button-gradiant-hover w-[150px] h-[42px] text-white bg-gradient-to-r from-[#1AB69D] to-[#31B978] font-semibold rounded-lg text-[16px] px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
  </div>
<% end %>
