<%= form_for enquire || Enquire.new, url: admin_enquires_path, html: { class: "validate", id: "enquire-admin-form" }, format: :turbo_stream, method: :post do |f| %>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="name" class=" block mb-2 text-lg font-medium text-[#000]">Name<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :name, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
        <div class="text-red-600 text-sm mt-1" id="enquire_name_error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:name].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:name).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="course" class=" block mb-2 text-lg font-medium text-[#000]">Course<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :course, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
        <div class="text-red-600 text-sm mt-1" id="enquire_course_error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:course].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:course).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="contact" class="block mb-2 text-lg font-medium text-[#000]">Contact<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col relative">
        <%= f.text_field :contact, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "new-contact" %>
        <svg class="absolute top-3 right-3" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 1H7L9 6L6.5 7.5C7.57096 9.67153 9.32847 11.429 11.5 12.5L13 10L18 12V16C18 16.5304 17.7893 17.0391 17.4142 17.4142C17.0391 17.7893 16.5304 18 16 18C12.0993 17.763 8.42015 16.1065 5.65683 13.3432C2.8935 10.5798 1.23705 6.90074 1 3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1Z" stroke="#818181" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <div class="text-red-600 text-sm mt-1" id="enquire_contact_error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:contact].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:contact).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="location" class="w-full sm:w-[40%] lg:w-[46%]  block mb-2 text-lg font-medium text-[#000]">Location<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col relative">
        <%= f.text_field :location, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "new-contact" %>
        <svg class="absolute top-3 right-3" width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.81689 8.89109C3.81689 7.61099 4.32541 6.38331 5.23059 5.47814C6.13576 4.57297 7.36343 4.06445 8.64354 4.06445C9.92364 4.06445 11.1513 4.57297 12.0565 5.47814C12.9617 6.38331 13.4702 7.61099 13.4702 8.89109C13.4702 10.1712 12.9617 11.3989 12.0565 12.304C11.1513 13.2092 9.92364 13.7177 8.64354 13.7177C7.36343 13.7177 6.13576 13.2092 5.23059 12.304C4.32541 11.3989 3.81689 10.1712 3.81689 8.89109ZM8.64354 5.58866C7.76767 5.58866 6.92769 5.93659 6.30836 6.55592C5.68903 7.17525 5.3411 8.01523 5.3411 8.89109C5.3411 9.76696 5.68903 10.6069 6.30836 11.2263C6.92769 11.8456 7.76767 12.1935 8.64354 12.1935C9.5194 12.1935 10.3594 11.8456 10.9787 11.2263C11.598 10.6069 11.946 9.76696 11.946 8.89109C11.946 8.01523 11.598 7.17525 10.9787 6.55592C10.3594 5.93659 9.5194 5.58866 8.64354 5.58866Z" fill="#818181"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0307236 7.72974C0.204408 5.62309 1.16394 3.65879 2.71882 2.22683C4.2737 0.794878 6.3102 -6.4378e-06 8.424 0H8.86297C10.9768 -6.4378e-06 13.0133 0.794878 14.5681 2.22683C16.123 3.65879 17.0826 5.62309 17.2562 7.72974C17.4495 10.0763 16.7246 12.4063 15.2341 14.2289L10.3638 20.1845C10.1554 20.4394 9.89291 20.6448 9.59539 20.7858C9.29788 20.9268 8.97274 21 8.64348 21C8.31423 21 7.98909 20.9268 7.69158 20.7858C7.39406 20.6448 7.1316 20.4394 6.92317 20.1845L2.05283 14.2289C0.56228 12.4063 -0.162662 10.0763 0.0307236 7.72974ZM8.424 1.5242C6.693 1.52446 5.02537 2.17557 3.75214 3.34829C2.4789 4.521 1.69316 6.12958 1.55086 7.85472C1.38991 9.80759 1.99317 11.7467 3.23358 13.2636L8.10392 19.2202C8.16939 19.3003 8.25185 19.3649 8.34535 19.4092C8.43884 19.4536 8.54102 19.4766 8.6445 19.4766C8.74798 19.4766 8.85016 19.4536 8.94365 19.4092C9.03715 19.3649 9.11961 19.3003 9.18508 19.2202L14.0554 13.2636C15.2951 11.7464 15.8976 9.80732 15.7361 7.85472C15.5938 6.1294 14.8079 4.52068 13.5345 3.34794C12.261 2.1752 10.5931 1.52421 8.86195 1.5242H8.42298H8.424Z" fill="#818181"/>
        </svg>
        <div class="text-red-600 text-sm mt-1" id="enquire_location_error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:location].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:location).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="timeslot" class="block mb-2 text-lg font-medium text-[#000]">Timeslot</label>
      <div class="w-full sm:w-[55%] flex flex-col relative">
        <div class="flex items-center space-x-2 gap-2">
          <div class="dropdown">
            <input type="text" id="start-time" class="w-full px-4 py-2 bg-white border border-[#cccccc] text-[#818181] rounded-lg focus:outline-none" readonly placeholder="Start time" />
            <div class="dropdown-menu" id="start-time-dropdown">
              <!-- JavaScript will populate this with all the options -->
            </div>
          </div>
          <span class="text-[#818181] text-center text-base mb-5">-</span>
          <div class="dropdown">
            <input type="text" id="end-time" class="w-full px-4 py-2 bg-white border border-[#cccccc] text-[#818181] rounded-lg focus:outline-none" readonly placeholder="End time"/>
            <div class="dropdown-menu" id="end-time-dropdown">
              <!-- JavaScript will populate this with all the options -->
            </div>
          </div>
        </div>
        <!-- New input field to display the concatenated result -->
        <div class="mt-4">
          <%= f.text_field :timeslot, id: "time-range", class: "w-full px-4 py-2 bg-white border border-[#cccccc] text-[#818181] rounded-lg focus:outline-none" %>
        </div>
        <svg class="absolute top-3" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" style="left: 7.5rem">
          <path d="M9.5 19C7.62108 19 5.78435 18.4428 4.22209 17.399C2.65982 16.3551 1.44218 14.8714 0.723149 13.1355C0.00411619 11.3996 -0.184015 9.48946 0.182544 7.64665C0.549104 5.80383 1.45389 4.11109 2.78249 2.78249C4.11109 1.45389 5.80383 0.549104 7.64665 0.182544C9.48946 -0.184015 11.3996 0.00411619 13.1355 0.723149C14.8714 1.44218 16.3551 2.65982 17.399 4.22209C18.4428 5.78435 19 7.62108 19 9.5C19 12.0196 17.9991 14.4359 16.2175 16.2175C14.4359 17.9991 12.0196 19 9.5 19ZM9.5 1.35715C7.8895 1.35715 6.31516 1.83472 4.97607 2.72947C3.63699 3.62421 2.5933 4.89595 1.97698 6.38387C1.36067 7.87178 1.19942 9.50903 1.51361 11.0886C1.8278 12.6682 2.60334 14.1191 3.74213 15.2579C4.88093 16.3967 6.33185 17.1722 7.91141 17.4864C9.49097 17.8006 11.1282 17.6393 12.6161 17.023C14.104 16.4067 15.3758 15.363 16.2705 14.0239C17.1653 12.6848 17.6429 11.1105 17.6429 9.5C17.6429 7.34038 16.785 5.26922 15.2579 3.74213C13.7308 2.21505 11.6596 1.35715 9.5 1.35715Z" fill="#818181"/>
          <path d="M12.6145 13.5721L8.82129 9.77891V3.39355H10.1784V9.2157L13.5713 12.6153L12.6145 13.5721Z" fill="#818181"/>
        </svg>
        <svg class="absolute right-3 top-3" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.5 19C7.62108 19 5.78435 18.4428 4.22209 17.399C2.65982 16.3551 1.44218 14.8714 0.723149 13.1355C0.00411619 11.3996 -0.184015 9.48946 0.182544 7.64665C0.549104 5.80383 1.45389 4.11109 2.78249 2.78249C4.11109 1.45389 5.80383 0.549104 7.64665 0.182544C9.48946 -0.184015 11.3996 0.00411619 13.1355 0.723149C14.8714 1.44218 16.3551 2.65982 17.399 4.22209C18.4428 5.78435 19 7.62108 19 9.5C19 12.0196 17.9991 14.4359 16.2175 16.2175C14.4359 17.9991 12.0196 19 9.5 19ZM9.5 1.35715C7.8895 1.35715 6.31516 1.83472 4.97607 2.72947C3.63699 3.62421 2.5933 4.89595 1.97698 6.38387C1.36067 7.87178 1.19942 9.50903 1.51361 11.0886C1.8278 12.6682 2.60334 14.1191 3.74213 15.2579C4.88093 16.3967 6.33185 17.1722 7.91141 17.4864C9.49097 17.8006 11.1282 17.6393 12.6161 17.023C14.104 16.4067 15.3758 15.363 16.2705 14.0239C17.1653 12.6848 17.6429 11.1105 17.6429 9.5C17.6429 7.34038 16.785 5.26922 15.2579 3.74213C13.7308 2.21505 11.6596 1.35715 9.5 1.35715Z" fill="#818181"/>
          <path d="M12.6145 13.5721L8.82129 9.77891V3.39355H10.1784V9.2157L13.5713 12.6153L12.6145 13.5721Z" fill="#818181"/>
        </svg>
        <div class="text-red-600 text-sm mt-1" id="enquire_timeslot_error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:timeslot].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:timeslot).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="status" class="block mb-2 text-lg font-medium text-[#000]">Status</label>
      <div class="w-full sm:w-[55%] flex flex-col relative">
        <%= f.select(:status, Enquire.statuses.keys.map { |type| [type.humanize, type] }, { prompt: "Select Status" }, { class: "bg-[#fff] border-[1px] foucus:ring-0 text-[#818181] text-[16px] font-medium rounded-lg outline-none block w-full p-2.5 rounded-[7px] bg-[#fff] text-[#818181] filter-handle custom-select select-widht status_validation" }) %>
        <div class="text-red-600 text-sm mt-1" id="enquire_status_error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:status].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:status).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="no of people" class=" block mb-2 text-lg font-medium text-[#000]">No of People</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :no_of_people, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
        <div class="text-red-600 text-sm mt-1" id="contact-number-error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:no_of_people].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:no_of_people).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="follow_up" class=" block mb-2 text-lg font-medium text-[#000]">Follow Up<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col relative">
        <%= f.text_field :follow_up, class: 'datepicker-input border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg pl-10 pr-4', id: 'datepicker', autocomplete: 'off' %>
        <svg class="absolute right-3 top-3" id="datepicker-icon" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.2403 0C6.44452 0 6.64037 0.0811248 6.78477 0.225528C6.92918 0.369931 7.0103 0.565783 7.0103 0.77V2.2099H15.279V0.7799C15.279 0.575683 15.3601 0.379831 15.5045 0.235428C15.6489 0.0910248 15.8448 0.0099 16.049 0.0099C16.2532 0.0099 16.4491 0.0910248 16.5935 0.235428C16.7379 0.379831 16.819 0.575683 16.819 0.7799V2.2099H19.8C20.3833 2.2099 20.9427 2.44153 21.3552 2.85388C21.7678 3.26622 21.9997 3.82551 22 4.4088V19.8011C21.9997 20.3844 21.7678 20.9437 21.3552 21.356C20.9427 21.7684 20.3833 22 19.8 22H2.2C1.61671 22 1.0573 21.7684 0.644754 21.356C0.232205 20.9437 0.000291643 20.3844 0 19.8011L0 4.4088C0.000291643 3.82551 0.232205 3.26622 0.644754 2.85388C1.0573 2.44153 1.61671 2.2099 2.2 2.2099H5.4703V0.7689C5.47059 0.564874 5.55185 0.369304 5.69622 0.225139C5.84059 0.0809736 6.03627 -2.0819e-07 6.2403 0ZM1.54 8.5162V19.8011C1.54 19.8878 1.55707 19.9736 1.59024 20.0537C1.62341 20.1337 1.67202 20.2065 1.73331 20.2678C1.7946 20.3291 1.86735 20.3777 1.94743 20.4109C2.0275 20.444 2.11333 20.4611 2.2 20.4611H19.8C19.8867 20.4611 19.9725 20.444 20.0526 20.4109C20.1326 20.3777 20.2054 20.3291 20.2667 20.2678C20.328 20.2065 20.3766 20.1337 20.4098 20.0537C20.4429 19.9736 20.46 19.8878 20.46 19.8011V8.5316L1.54 8.5162ZM7.3337 16.0809V17.9135H5.5V16.0809H7.3337ZM11.9163 16.0809V17.9135H10.0837V16.0809H11.9163ZM16.5 16.0809V17.9135H14.6663V16.0809H16.5ZM7.3337 11.7062V13.5388H5.5V11.7062H7.3337ZM11.9163 11.7062V13.5388H10.0837V11.7062H11.9163ZM16.5 11.7062V13.5388H14.6663V11.7062H16.5ZM5.4703 3.7488H2.2C2.11333 3.7488 2.0275 3.76587 1.94743 3.79904C1.86735 3.83221 1.7946 3.88082 1.73331 3.94211C1.67202 4.0034 1.62341 4.07615 1.59024 4.15623C1.55707 4.2363 1.54 4.32213 1.54 4.4088V6.9773L20.46 6.9927V4.4088C20.46 4.32213 20.4429 4.2363 20.4098 4.15623C20.3766 4.07615 20.328 4.0034 20.2667 3.94211C20.2054 3.88082 20.1326 3.83221 20.0526 3.79904C19.9725 3.76587 19.8867 3.7488 19.8 3.7488H16.819V4.7707C16.819 4.97492 16.7379 5.17077 16.5935 5.31517C16.4491 5.45958 16.2532 5.5407 16.049 5.5407C15.8448 5.5407 15.6489 5.45958 15.5045 5.31517C15.3601 5.17077 15.279 4.97492 15.279 4.7707V3.7488H7.0103V4.7608C7.0103 4.96502 6.92918 5.16087 6.78477 5.30527C6.64037 5.44968 6.44452 5.5308 6.2403 5.5308C6.03608 5.5308 5.84023 5.44968 5.69583 5.30527C5.55142 5.16087 5.4703 4.96502 5.4703 4.7608V3.7488Z" fill="#818181"/>
        </svg>
        <div class="text-red-600 text-sm mt-1" id="enquire_follow_up_error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire&.errors[:follow_up].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire&.errors.full_messages_for(:follow_up).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="remarks" class=" block mb-2 text-lg font-medium text-[#000]">Remarks</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :remarks, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="sales person" class=" block mb-2 text-lg font-medium text-[#000]">Sales Person</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :sales_person, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
        <div class="text-red-600 text-sm mt-1" id="enquire_sales_person_error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:sales_person].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:sales_person).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="references" class=" block mb-2 text-lg font-medium text-[#000]">References</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :references, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="lead source" class=" block mb-2 text-lg font-medium text-[#000]">Lead Source</label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :lead_source, class: "validate w-full bg-[#ffffff] border border-[#cccccc] text-[#818181] text-base font-medium rounded-lg block p-2.5 focus:ring-0 focus:ring-offset-0 focus:border-gray-200", autocomplete: "off" %>
        <div class="text-red-600 text-sm mt-1" id="emergency-contact-number-error"></div>
        <% if enquire&.errors&.any? %>
          <% if enquire.errors[:lead_source].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= enquire.errors.full_messages_for(:lead_source).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "flex w-[100%] gap-[50px] flex-col lg:flex-row">
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
      <label for="Clip" class=" block mb-2 text-lg font-medium text-[#000]">Clip</label>
      <div class="bg-[#ffffff] border border-[#cccccc] text-[#818181] h-[50px] flex items-center w-full md:w-[55%] rounded-lg">
        <div class="fileUploadWrap">
          <svg class="fileUploadIcon" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.98477 14.8044C-1.04648 15.5856 -0.26523 6.99187 5.98477 7.77312C3.64102 -0.82063 16.9223 -0.820629 16.141 5.42937C23.9535 3.08562 23.9535 15.5856 16.9223 14.8044M7.54727 11.6794L11.4535 8.55437M11.4535 8.55437L15.3598 11.6794M11.4535 8.55437V20.2731" stroke="#818181" stroke-opacity="0.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <%= f.file_field :attachment %>
          <p class="attachments text-[#818181] text-[15px] font-medium">Upload your files here</p>
        </div>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row w-full lg:w-[50%] justify-between">
    </div>
  </div>
  <%= hidden_field_tag :page, params[:page]%>
  <%= hidden_field_tag :per_page, params[:per_page]%>
  <%= hidden_field_tag :search, params[:search]%>
  <div class="w-[150px] mx-auto mt-4 sm:mt-6">
    <%= f.submit "CREATE", class: 'button-gradiant-hover w-[150px] h-[42px] text-white bg-gradient-to-r from-[#1AB69D] to-[#31B978] font-semibold rounded-lg text-[16px] px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
  </div>
<% end %>
<script>
  $(document).on("change", ".fileUploadWrap input[type='file']", function() {
    if ($(this).val()) {
  var filename = $(this).val().split("\\");

  filename = filename[filename.length - 1];

  $(".attachments").text(filename);
    }
    });
</script>