<div class="container">
  <h1>Courses</h1>
  <% @courses.each_slice(4) do |courses| %>
    <div class="row">
      <% courses.each do |course| %>
        <% if course.sections.any? %> <!-- Check if the course has sections -->
          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
              <img src="<%= asset_path("nature.jpeg") %>" class="card-img-top" alt="..." style="height: 286px;">
              <div class="card-body">
                <h5 class="card-title"><%= course.course_name %></h5>
                <p class="card-text"><%= course.description %></p>
                <% if user_signed_in? %>
                <%= link_to 'Show', course_path(course), class: "btn btn-primary" %>
                <% else %>
                <%= link_to "Login to Continue", new_user_session_path, class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

