<div data-turbo="false" class="d-flex gap-2 flex-row">
  <%= form_tag(create_subscription_checkout_session_course_path(course_id: @course.id), method: :post, data: { turbo: false }) do %>
    <%= hidden_field_tag :monthly, true %>
    <%= submit_tag "Monthly Pay", class: "btn btn-secondary" %>
  <% end %>
  <%= form_tag(create_subscription_checkout_session_course_path(course_id: @course.id), method: :post, data: { turbo: false }) do %>
    <%= hidden_field_tag :yearly, true %>
    <%= submit_tag "Yearly Pay", class: "btn btn-secondary" %>
  <% end %>
</div>
