<%= form_for schedule || Schedule.new, url: admin_schedules_path, html: { class: "validate", id: "schedule-admin-form" }, validate: true, method: :post do |f| %>
  <div class="mb-4 flex flex-col sm:flex-row">
    <label for="name" class="w-full sm:w-[45%] block mb-2 text-lg font-medium text-[#000]">Batch Name<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
    <div class="w-full sm:w-[55%] flex flex-col">
      <%= collection_select(:schedule, :batch_id, Batch.all, :id, :batch_name, { prompt: "Select Batch", selected: '' }, { class: "bg-[#fff] border-0 foucus:ring-0 text-[#818181] text-[16px] font-medium rounded-lg outline-none block w-full p-2.5 rounded-[7px] bg-[#fff] text-[#818181] filter-handle custom-select sources select-widht" }) %>
      <div class="text-red-600 text-sm mt-1" id="batch_error"></div>
      <% if schedule&.errors&.any? %>
        <% if schedule&.errors[:batch_name].any? %>
          <div class="text-red-600 text-sm mt-1">
            <%= schedule&.errors.full_messages_for(:batch_name).join(', ') %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="flex flex-col" id="load_batch_data">
    <div class="mb-4 flex flex-col sm:flex-row">
      <label for="email" class="w-full sm:w-[45%] block mb-2 text-lg font-medium text-[#000]">Trainer<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= collection_select(:schedule, :user_id, [], :id, :name, { prompt: "Select User", selected: '' }, { class: "bg-[#fff] border-0 foucus:ring-0 text-[#818181] text-[16px] font-medium rounded-lg outline-none block w-full p-2.5 rounded-[7px] bg-[#fff] text-[#818181] filter-handle new-custom-select sources select-widht" }) %>
        <div class="text-red-600 text-sm mt-1" id="user_error"></div>
        <% if schedule&.errors&.any? %>
          <% if schedule&.errors[:user_id].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= schedule&.errors.full_messages_for(:user_id).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row">
      <label for="password" class="w-full sm:w-[45%] block mb-2 text-lg font-medium text-[#000] dark:text-white">Course<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= collection_select(:schedule, :course_id, [], :id, :course_name, { prompt: "Select Course", selected: '' }, { class: "bg-[#fff] border-0 foucus:ring-0 text-[#818181] text-[16px] font-medium rounded-lg outline-none block w-full p-2.5 rounded-[7px] bg-[#fff] text-[#818181] filter-handle new-lesson-custom-select sources select-widht" }) %>
        <div class="text-red-600 text-sm mt-1" id="course_error"></div>
        <% if schedule&.errors&.any? %>
          <% if schedule&.errors[:course_id].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= schedule&.errors.full_messages_for(:course_id).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mb-4 flex flex-col sm:flex-row">
    <label for="Confirm Password" class="block mb-2 text-lg font-medium text-[#000] dark:text-white w-full sm:w-[45%]">Schedule Date<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
    <div class="w-full sm:w-[55%] flex flex-col">
      <%= f.date_field :schedule_date, class: "w-full validate bg-[#FFFFFF] border border-[#cccccc] text-[#818181] text-[16px] font-medium rounded-lg focus:ring-0 focus:ring-offset-0 focus:border-gray-200 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
      <div class="text-red-600 text-sm mt-1" id="schedule_date_error"></div>
      <% if schedule&.errors&.any? %>
        <% if schedule&.errors[:schedule_date].any? %>
          <div class="text-red-600 text-sm mt-1">
            <%= schedule&.errors.full_messages_for(:schedule_date).join(', ') %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mb-4 flex flex-col sm:flex-row">
    <label for="role" class="w-full sm:w-[45%] block mb-2 text-lg font-medium text-[#000] dark:text-white">Schedule Timings<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
    <div class="w-full sm:w-[55%] flex flex-col">
      <%= f.text_field :schedule_timings, class: "w-full validate bg-[#FFFFFF] border border-[#cccccc] text-[#818181] text-[16px] font-medium rounded-lg focus:ring-0 focus:ring-offset-0 focus:border-gray-200 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
      <div class="text-red-600 text-sm mt-1" id="schedule_timings_error"></div>
      <% if schedule&.errors&.any? %>
        <% if schedule&.errors[:schedule_timings].any? %>
          <div class="text-red-600 text-sm mt-1">
            <%= schedule&.errors.full_messages_for(:schedule_timings).join(', ') %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= hidden_field_tag :page, params[:page]%>
  <%= hidden_field_tag :per_page, params[:per_page]%>
  <%= hidden_field_tag :search, params[:search]%>
  <div class="w-1/5 mx-auto mt-4 sm:mt-6">
    <%= f.submit "CREATE", class: 'button-gradiant-hover w-[150px] h-[42px] text-white bg-gradient-to-r from-[#1AB69D] to-[#31B978] font-semibold rounded-lg text-[16px] px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 loader-btn' %>
  </div>
<% end %>
