<%= form_for(user, url: admin_user_path(user), method: :patch) do |f| %>
<h2>Update User</h2>
  <div>
    <%= f.label :email %>
    <br>
    <%= f.email_field :email, required: true %>
  </div>
  <div>
    <%= f.label :role %>
    <br>
    <%= f.select :role, ['admin', 'student'] %>
  </div>
  <div>
    <%= f.label :current_type %>
    <br>
    <%= f.select :current_type, User.current_types.keys.map { |type| [type.humanize, type] } %>
  </div>
  <div>
    <%= f.label :deleted, 'Status:' %>
    <br>
    <%= f.select :deleted, [['Active', false], ['Inactive', true]], {}, required: true %>
  </div>
  <%= f.submit "Update Admin User", class: 'btn btn-primary' %>
<% end %>