<h1>Admin Users</h1>

<%= form_for @new_admin, url: admin_users_path, method: :post do |f| %>
  <h2>Create New User</h2>
  <div>
    <%= f.label :email %>
    <br>
    <%= f.email_field :email %>
    <div class="error" id="email-error", style="color: red;"></div>
  </div>
  <br>
  <%= f.hidden_field :resource_id, value: @new_admin.id %>
  <%= f.hidden_field :resource_type, value: @new_admin.class.name %>

  <div>
    <%= f.label :role %>
    <br>
    <%= f.select :role, [:admin, :student] %>
  </div>
  <br>
  <div>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
    <div class="error" id="password-error", style="color: red;"></div> 
  </div>
  <br>
  <div>
    <%= f.label :password_confirmation %>
    <br>
    <%= f.password_field :password_confirmation %>
    <div class="error" id="password-confirmation-error", style="color: red;"></div>
  </div>
  <br>
  <%= f.submit "Create Admin User", class: 'btn btn-primary' %>
<% end %>

<script>
  $(document).ready(function() {
  $('form').on('submit', function(e) {
    var email = $('#user_email').val();
    var password = $('#user_password').val();
    var passwordConfirmation = $('#user_password_confirmation').val();

    $('.error').text('');

    var errors = false;

    if (!email || !email.trim()) {
      $('#email-error').text('Please enter a valid email address.');
      errors = true;
    }

    if (!password || !password.trim()) {
      $('#password-error').text('Please enter a password.');
      errors = true;
    }

    if (!passwordConfirmation || !passwordConfirmation.trim()) {
      $('#password-confirmation-error').text('Please confirm your password.');
      errors = true;
    }

    if (errors) {
      e.preventDefault();
      return false;
    }

    return true;
  });
});


</script>