<h1>Admin Users</h1>

<%= form_for @new_admin, url: admin_users_path, method: :post do |f| %>
  <h2>Create New User</h2>
  <div>
  <%= f.label :email %>
  <br>
  <%= f.email_field :email %>
  <% if @new_admin.errors.has_key?(:email) %>
      <div class="error">
        <%= @new_admin.errors[:email].first %>
      </div>
    <% end %>
</div>
<br>
<%= f.hidden_field :resource_id, value: @new_admin.id %>
<%= f.hidden_field :resource_type, value: @new_admin.class.name %>

<div>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password %>
  <% if @new_admin.errors.has_key?(:password) %>
      <div class="error">
        <%= @new_admin.errors[:password].first %>
      </div>
    <% end %>
</div>
<br>
<div>
  <%= f.label :password_confirmation %>
  <br>
  <%= f.password_field :password_confirmation %>
  <% if @new_admin.errors.has_key?(:password_confirmation) %>
      <div class="error">
        <%= @new_admin.errors[:password_confirmation].first %>
      </div>
    <% end %>
</div>
<br>
<div>
   <%= f.label :role %>
   <br>
  <%= f.select :role, [:admin, :student]%>
</div>
<br>
  <%= f.submit "Create Admin User", class: 'btn btn-primary' %>
<% end %>
