<h1>Admin Users</h1>
<%= form_for [:admin, @user] do |f| %>
  <h2>Update User</h2>
  <div>
    <%= f.label :email %>
    <br>
    <%= f.email_field :email, required: true %>
  </div>
  <div>
    <%= f.label :role %>
    <br>
    <%= f.select :role, ['admin', 'student'] %>
  </div>
  <div>
    <%= f.label :deleted, 'Status:' %>
    <br>
    <%= f.select :deleted, [['Active', false], ['Inactive', true]], {}, required: true %>
  </div>
  <%= f.submit "Update Admin User", class: 'btn btn-primary' %>
<% end %>