<h2>Existing Admins & Users</h2>
<table>
  <thead>
    <tr>
      
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= form_for user, url: admin_user_path(user), method: :put do |f| %>
            <%= f.select :role, [:admin, :student], { selected: user.has_role?(:admin) ? :admin : :student }, class: 'form-control' %>
            <%= f.submit "Update", class: 'btn btn-primary' %>
          <% end %>

              <td><%= link_to 'DELETE', admin_user_path(user), data: {turbo_method: :delete} %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "form" %>

<BR>
<%= link_to "Manage Courses", admin_courses_path %>