<!-- Modal body -->
<div class="p-7 space-y-6 lg:w-[95%] sm:w-[95%] w-[90%] mr-auto lg:ml-auto ml-5">
  <%= form_for(user_course, url: admin_user_course_path(user_course), html: { class: "validate", id: "user-admin-edit-form" }, method: :patch, format: :turbo_stream) do |f| %>
    <div class="mb-4 flex flex-col sm:flex-row">
      <label for="name" class="w-full sm:w-[45%] block mb-2 text-lg font-medium text-[#000]">Student Name<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= collection_select(:user_course, :user_id, User.student, :id, :name, { prompt: "Select User", selected: '' }, { class: "bg-[#FFFFFF] foucus:ring-0 text-[#818181] text-[16px] font-medium rounded-lg outline-none block w-full p-2.5 rounded-[7px] bg-[#fff] text-[#818181] filter-handle new-lesson-custom-select new-select-border sources" })  %>
        <div class="text-red-600 text-sm mt-1" id="name-error"></div>
        <% if user_course&.errors&.any? %>
          <% if user_course&.errors[:user_id].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= user_course&.errors.full_messages_for(:user_id).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row">
      <label for="email" class="w-full sm:w-[45%] block mb-2 text-lg font-medium text-[#000]">Course Name<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= collection_select(:user_course, :course_id, Course.all, :id, :course_name, { prompt: "Select Course", selected: '' }, { class: "bg-[#FFFFFF] foucus:ring-0 text-[#818181] text-[16px] font-medium rounded-lg outline-none block w-full p-2.5 rounded-[7px] bg-[#fff] text-[#818181] filter-handle new-custom-select new-select-border  sources" })  %>
        <div class="text-red-600 text-sm mt-1" id="email-error"></div>
        <% if user_course&.errors&.any? %>
          <% if user_course&.errors[:course_id].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= user_course&.errors.full_messages_for(:course_id).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-4 flex flex-col sm:flex-row">
      <label for="password" class="w-full sm:w-[45%] block mb-2 text-lg font-medium text-[#000] dark:text-white">Course Amount<span class="text-[#C6C6C6] text-[15px] font-medium">(Required)</span></label>
      <div class="w-full sm:w-[55%] flex flex-col">
        <%= f.text_field :course_amount, class: "validate bg-[#FFFFFF] border border-[#cccccc] text-[#818181] text-[16px] font-medium rounded-lg focus:ring-0 focus:ring-offset-0 focus:border-gray-200 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"%>
        <div class="text-red-600 text-sm mt-1" id="password-error"></div>
        <% if user_course&.errors&.any? %>
          <% if user_course&.errors[:course_amount].any? %>
            <div class="text-red-600 text-sm mt-1">
              <%= user_course&.errors.full_messages_for(:course_amount).join(', ') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= hidden_field_tag :page, params[:page]%>
    <%= hidden_field_tag :per_page, params[:per_page]%>
    <%= hidden_field_tag :search, params[:search]%>
    <div class="w-1/2 md:w-2/5 mx-auto mt-4 sm:mt-6">
      <%= f.submit "UPDATE", class: 'button-gradiant-hover w-[150px] h-[42px] md:ml-[50px] ml-[20px] text-white bg-gradient-to-r from-[#1AB69D] to-[#31B978] font-semibold rounded-[7px] text-[16px] px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 button-gradiant-hover loader-btn' %>
    </div>
  <% end %>
</div>
