<h1>Edit Enrollment Status</h1>

<%= form_for [:admin, @entrollment] do |f| %>
  <div class="field">
    <%= f.label :status, 'Status' %>
    <%= f.select :status, Entrollment.statuses.keys.map { |status| [status.humanize, status] } %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Enrollment Status' %>
  </div>

  <%= link_to 'Back', admin_entrollments_path %>
<% end %>
