<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Course</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @entrollments.includes(:user, :course).each do |entrollment| %>
      <tr>
        <td><%= entrollment.user.email %></td>
        <td><%= entrollment.course.course_name %></td>
        <td><%= entrollment.status %></td>
        <td>
          <%= form_tag(update_status_admin_entrollment_path(entrollment), method: "post") do %>
            <%= hidden_field_tag("entrollment_id", entrollment.id) %>
            <%= button_tag(type: "submit", name: "status", value: "approved", class: "btn btn-success") do %>
              Approve
            <% end %>:
            <%= button_tag(type: "submit", name: "status", value: "denied", class: "btn btn-danger") do %>
              Deny
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
