<h1>Edit Video</h1>


  <%= form_for [:admin, @section, @video], url: admin_section_video_path(@section, @video) do |f| %>
    <div>
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <br>  
      <%= f.text_field :description %>
    </div>
    <br>
    <div>
      <%= f.label :clip %>
      <br>
      <%= f.file_field :clip %>
    </div>
    <div>   
      <%= f.submit "Update Video" %>
    </div>
  <% end %>
<br>
  <%= link_to 'Back to Video List', admin_section_videos_path %>




