<h1>Courses</h1>
      <table >
        <thead>
          <th>Course Name</th>
          <th>Description</th>
        </thead>
        <tbody>
          <% @videos.each do |video| %>
            <tr>
              <td><%= video.title %></td>
              <td><%= video.description %></td>
              <td>
                <% if video.clip.attached? %>
                  <video
                    id="video-<%= video.id %>" class="video-js" controls preload="auto" width="640" height="264"
                    data-setup="{}" >
                    <source src="<%= url_for(video.clip) %>" type="video/mp4" />
                  </video>
                  <% else %>
                    <p>No video attached to this record.</p>
                <% end %>
              </td>
              <td><%= link_to 'Edit', edit_admin_section_video_path(@section, video) %></td>
              <td><%= link_to 'DELETE', admin_section_video_path(@section, video), data: {turbo_method: :delete} %></td>
              <td><%= link_to 'Show', admin_section_video_path(@section, video) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
<%= link_to 'Add Video', new_admin_section_video_path %>