<!DOCTYPE html>
<html>
<head>
  <title>Video Details</title>
</head>
<body>
  <h1>Video Details</h1>
  <p><strong>Title:</strong> <%= @video.title %></p>
  <p><strong>Description:</strong> <%= @video.description %></p>
  <% if @video.clip.attached? %>
    <video
      id="my-video" class="video-js" controls preload="auto" width="640" height="264"
      data-setup="{}" >
      <source src="<%= url_for(@video.clip) %>" type="video/mp4" />
    </video>
    <% else %>
      <p>No video attached to this record.</p>
    <% end %> 
  <p><%= link_to 'Back', admin_section_videos_path %></p>

  <%= link_to "create Video", new_admin_section_video_path(@video) %>

</body>
</html>
