<!DOCTYPE html>
<html>
<head>
  <title>Video Details</title>
</head>
<body>
  <h1>Video Details</h1>
  <p><strong>Title:</strong> <%= @video.title %></p>
  <p><strong>Description:</strong> <%= @video.description %></p>
  <% if @video.clip.attached? %>
      <%= video_tag (url_for(@video.clip)), style: "width: 400px; height: 300px;" %>
    <% else %>
      <p>No video attached to this record.</p>
    <% end %> 
  <p><%= link_to 'Back', admin_section_videos_path %></p>

  <%= link_to "create Video", new_admin_section_video_path(@video) %>

</body>
</html>
