<h1>Edit Course</h1>


  <%= form_for [:admin, @course], url: admin_course_path(@course) do |f| %>
    <div>
      <%= f.label :course_name %>
      <br>
      <%= f.text_field :course_name %>
    </div>
    <div>
      <%= f.label :description %>
      <br>
      <%= f.text_field :description %>
    </div>
    <br>
    <div>   
      <%= f.submit "Update Course" %>
    </div>
  <% end %>
<br>
  <%= link_to 'Back to Course List', admin_courses_path %>




