<h1>Courses</h1>
      <table >
        <thead>
          <th>Course Name</th>
          <th>Description</th>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.course_name %></td>
              <td><%= course.description %></td>
              <td><%= link_to 'Edit', edit_admin_course_path(course) %></td>
              <td><%= link_to 'DELETE', admin_course_path(course), data: {turbo_method: :delete} %></td>
              <td><%= link_to 'Show', admin_course_path(course) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>  
      <%= link_to 'Add Course', new_admin_course_path %>




