<div class= "container">
<h1>Courses</h1>
      <table class="table table-striped">
        <thead>
          <th>Course Name</th>
          <th>Description</th>
          <th class="text-center">Actions</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.course_name %></td>
              <td><%= course.description %></td>
              <td><%= link_to 'Edit', edit_admin_course_path(course), class: "btn btn-secondary" %></td>
              <td><%= link_to 'DELETE', admin_course_path(course), data: {turbo_method: :delete}, class: "btn btn-danger"  %></td>
              <td><%= link_to 'Show', admin_course_path(course), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>  
      <%= link_to 'Add Course', new_admin_course_path, class: "btn btn-primary" %>
</div>



