<div class="container">
  <h1>New Course</h1>
  <%= form_for [:admin, @course], url: admin_courses_path(@course) do |f| %>
    <div class="form-group">
      <%= f.label :course_name %>
      <br>
      <%= f.text_field :course_name %>
      <% if @course.errors.has_key?(:course_name) %>
        <span style="color: red">
          <%= @course.errors[:course_name].first %>
        </span>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <br>
      <%= f.text_area :description %>
      <% if @course.errors.has_key?(:description) %>
        <span style="color: red">
          <%= @course.errors[:description].first %>
        </span>
      <% end %>
    </div>
    <%= f.submit "Create Course", class: "btn btn-primary" %>
  <% end %>
  <br>
  <%= link_to 'Back to Course List', admin_courses_path, class: "btn btn-secondary" %>
</div>
