<!DOCTYPE html>
<html>
  <head>
    <title>Online Learning Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
    <%= yield %>
      <script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var videos = document.querySelectorAll('video');

    videos.forEach(function(video) {
      videojs(video.id, {}, function() {
        var player = this;

        player.on('play', function() {
          videos.forEach(function(otherVideo) {
            if (otherVideo !== video) {
              videojs(otherVideo.id).pause();
            }
          });
        });
      });
    });
  });
</script>
  </body>
</html>
