<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag %>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.turbo.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/preline@2.0.0/dist/preline.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= yield :head %>
    <title>Online Learning Portal</title>
  </head>
  <body class="bg-[#F0F4F5]" style="font-family: 'Poppins', sans-serif !important">
    <div class="area flex h-screen homecontroller" style="font-family: 'Poppins', sans-serif !important">
      <nav class="main-menu title" id="sidebar" style="font-family: 'Poppins', sans-serif !important">
        <ul>
          <li>
            <p class="cursor-pointer flex">
              <div class="fa title title1">
                <a href="#">
                  <img src="<%= asset_path("xmark.png") %>" class="ml-5 mt-2 title cursor-pointer" alt="..."></a>
              </div>
              <span class="open hamburger title">
                <img src="<%= asset_path("tva.png") %>" class="w-25 cursor-pointer" />
                <img src="<%= asset_path("hamburger.png") %> " class="openmenu hamburger cursor-pointer" alt="..." />
              </span>
            </p>
          </li>
          <li class="has-subnav mt-6">
            <div class="flex items-center selected <%= (params[:controller] == "page" && params[:action] == "index") ? "actived" : "" %>">
              <a class="cursor-pointer">
                <div class="fa">
                  <svg class="ml-5 title" id="title" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.21538 0H2.15385C1.872 0 1.62954 9.16924e-09 1.41538 0.0504577C1.08386 0.12967 0.780739 0.299111 0.539607 0.540007C0.298475 0.780903 0.128748 1.08385 0.0492307 1.41528C-4.58497e-08 1.62941 0 1.87063 0 2.15368V5.23037C0 5.51219 9.16995e-09 5.75463 0.0504615 5.96877C0.12968 6.30027 0.299134 6.60337 0.540048 6.84448C0.780963 7.08559 1.08393 7.25531 1.41538 7.33482C1.62954 7.38405 1.87077 7.38405 2.15385 7.38405H5.23077C5.51262 7.38405 5.75508 7.38405 5.96923 7.33359C6.30076 7.25438 6.60388 7.08494 6.84501 6.84404C7.08614 6.60314 7.25587 6.3002 7.33538 5.96877C7.38462 5.75463 7.38462 5.51342 7.38462 5.23037V2.15368C7.38462 1.87186 7.38462 1.62941 7.33415 1.41528C7.25494 1.08378 7.08548 0.780678 6.84457 0.539565C6.60365 0.298452 6.30068 0.128738 5.96923 0.0492269C5.75508 -4.58462e-08 5.51385 0 5.23077 0H2.21538ZM1.70215 1.2479C1.75508 1.2356 1.83754 1.23067 2.21538 1.23067H5.16923C5.54831 1.23067 5.62954 1.23437 5.68246 1.2479C5.79302 1.27434 5.8941 1.33088 5.97448 1.41126C6.05486 1.49163 6.11141 1.5927 6.13785 1.70325C6.15015 1.75494 6.15385 1.83617 6.15385 2.21521V5.16883C6.15385 5.54788 6.15015 5.62911 6.13662 5.68202C6.11018 5.79258 6.05363 5.89364 5.97325 5.97402C5.89287 6.0544 5.79179 6.11094 5.68123 6.13737C5.63077 6.14845 5.54954 6.15337 5.16923 6.15337H2.21538C1.83631 6.15337 1.75508 6.14968 1.70215 6.13614C1.59159 6.10971 1.49052 6.05316 1.41014 5.97279C1.32975 5.89241 1.27321 5.79135 1.24677 5.68079C1.23569 5.63034 1.23077 5.54911 1.23077 5.16883V2.21521C1.23077 1.83617 1.23446 1.75494 1.248 1.70202C1.27444 1.59147 1.33098 1.4904 1.41137 1.41003C1.49175 1.32965 1.59282 1.27311 1.70338 1.24667L1.70215 1.2479ZM10.8308 0H10.7692C10.4874 0 10.2449 9.16924e-09 10.0308 0.0504577C9.69924 0.12967 9.39612 0.299111 9.15499 0.540007C8.91386 0.780903 8.74413 1.08385 8.66462 1.41528C8.61539 1.62941 8.61539 1.87063 8.61539 2.15368V5.23037C8.61539 5.51219 8.61539 5.75463 8.66585 5.96877C8.74507 6.30027 8.91452 6.60337 9.15543 6.84448C9.39635 7.08559 9.69932 7.25531 10.0308 7.33482C10.2449 7.38405 10.4862 7.38405 10.7692 7.38405H13.8462C14.128 7.38405 14.3705 7.38405 14.5846 7.33359C14.9161 7.25438 15.2193 7.08494 15.4604 6.84404C15.7015 6.60314 15.8713 6.3002 15.9508 5.96877C16 5.75463 16 5.51342 16 5.23037V2.15368C16 1.87186 16 1.62941 15.9495 1.41528C15.8703 1.08378 15.7009 0.780678 15.46 0.539565C15.219 0.298452 14.9161 0.128738 14.5846 0.0492269C14.3705 -4.58462e-08 14.1292 0 13.8462 0H10.8308ZM10.3175 1.2479C10.3705 1.2356 10.4529 1.23067 10.8308 1.23067H13.7846C14.1637 1.23067 14.2449 1.23437 14.2978 1.2479C14.4084 1.27434 14.5095 1.33088 14.5899 1.41126C14.6702 1.49163 14.7268 1.5927 14.7532 1.70325C14.7655 1.75494 14.7692 1.83617 14.7692 2.21521V5.16883C14.7692 5.54788 14.7643 5.62911 14.752 5.68202C14.7256 5.79258 14.669 5.89364 14.5886 5.97402C14.5083 6.0544 14.4072 6.11094 14.2966 6.13737C14.2449 6.14968 14.1637 6.15337 13.7846 6.15337H10.8308C10.4517 6.15337 10.3705 6.14968 10.3175 6.13614C10.207 6.10971 10.1059 6.05316 10.0255 5.97279C9.94514 5.89241 9.88859 5.79135 9.86215 5.68079C9.85108 5.63034 9.84615 5.54911 9.84615 5.16883V2.21521C9.84615 1.83617 9.84985 1.75494 9.86339 1.70202C9.88982 1.59147 9.94637 1.4904 10.0268 1.41003C10.1071 1.32965 10.2082 1.27311 10.3188 1.24667L10.3175 1.2479ZM2.15385 8.61472H5.23077C5.51262 8.61472 5.75508 8.61472 5.96923 8.66518C6.30076 8.74439 6.60388 8.91383 6.84501 9.15473C7.08614 9.39562 7.25587 9.69857 7.33538 10.03C7.38462 10.2441 7.38462 10.4853 7.38462 10.7684V13.8451C7.38462 14.1269 7.38462 14.3694 7.33415 14.5835C7.25494 14.915 7.08548 15.2181 6.84457 15.4592C6.60365 15.7003 6.30068 15.87 5.96923 15.9495C5.75508 15.9988 5.51385 15.9988 5.23077 15.9988H2.15385C1.872 15.9988 1.62954 15.9988 1.41538 15.9483C1.08386 15.8691 0.780739 15.6997 0.539607 15.4588C0.298475 15.2179 0.128748 14.9149 0.0492307 14.5835C-4.58497e-08 14.3694 0 14.1281 0 13.8451V10.7684C0 10.4866 9.16995e-09 10.2441 0.0504615 10.03C0.12968 9.6985 0.299134 9.3954 0.540048 9.15429C0.780963 8.91317 1.08393 8.74346 1.41538 8.66395C1.62954 8.61472 1.87077 8.61472 2.15385 8.61472ZM2.21538 9.8454C1.83631 9.8454 1.75508 9.84909 1.70215 9.86263C1.59159 9.88906 1.49052 9.9456 1.41014 10.026C1.32975 10.1064 1.27321 10.2074 1.24677 10.318C1.23569 10.3684 1.23077 10.4497 1.23077 10.8299V13.7836C1.23077 14.1626 1.23446 14.2438 1.248 14.2967C1.27444 14.4073 1.33098 14.5084 1.41137 14.5887C1.49175 14.6691 1.59282 14.7257 1.70338 14.7521C1.75508 14.7644 1.83631 14.7681 2.21538 14.7681H5.16923C5.54831 14.7681 5.62954 14.7632 5.68246 14.7509C5.79302 14.7244 5.8941 14.6679 5.97448 14.5875C6.05486 14.5071 6.11141 14.4061 6.13785 14.2955C6.15015 14.2438 6.15385 14.1626 6.15385 13.7836V10.8299C6.15385 10.4509 6.15015 10.3697 6.13662 10.3167C6.11018 10.2062 6.05363 10.1051 5.97325 10.0247C5.89287 9.94437 5.79179 9.88783 5.68123 9.86139C5.63077 9.85032 5.54954 9.8454 5.16923 9.8454H2.21538ZM10.8308 8.61472H10.7692C10.4874 8.61472 10.2449 8.61472 10.0308 8.66518C9.69924 8.74439 9.39612 8.91383 9.15499 9.15473C8.91386 9.39562 8.74413 9.69857 8.66462 10.03C8.61539 10.2441 8.61539 10.4853 8.61539 10.7684V13.8451C8.61539 14.1269 8.61539 14.3694 8.66585 14.5835C8.74507 14.915 8.91452 15.2181 9.15543 15.4592C9.39635 15.7003 9.69932 15.87 10.0308 15.9495C10.2449 16 10.4874 16 10.7692 16H13.8462C14.128 16 14.3705 16 14.5846 15.9495C14.9159 15.8701 15.2188 15.7006 15.4597 15.4597C15.7006 15.2188 15.8701 14.916 15.9495 14.5847C16 14.3706 16 14.1281 16 13.8463V10.7684C16 10.4866 16 10.2441 15.9495 10.03C15.8703 9.6985 15.7009 9.3954 15.46 9.15429C15.219 8.91317 14.9161 8.74346 14.5846 8.66395C14.3705 8.61472 14.1292 8.61472 13.8462 8.61472H10.8308ZM10.3175 9.86263C10.3705 9.85032 10.4529 9.8454 10.8308 9.8454H13.7846C14.1637 9.8454 14.2449 9.84909 14.2978 9.86263C14.4084 9.88906 14.5095 9.9456 14.5899 10.026C14.6702 10.1064 14.7268 10.2074 14.7532 10.318C14.7655 10.3697 14.7692 10.4509 14.7692 10.8299V13.7836C14.7692 14.1626 14.7643 14.2438 14.752 14.2967C14.7256 14.4073 14.669 14.5084 14.5886 14.5887C14.5083 14.6691 14.4072 14.7257 14.2966 14.7521C14.2449 14.7644 14.1637 14.7681 13.7846 14.7681H10.8308C10.4517 14.7681 10.3705 14.7632 10.3175 14.7509C10.207 14.7244 10.1059 14.6679 10.0255 14.5875C9.94514 14.5071 9.88859 14.4061 9.86215 14.2955C9.85108 14.2451 9.84615 14.1638 9.84615 13.7836V10.8299C9.84615 10.4509 9.84985 10.3697 9.86339 10.3167C9.88982 10.2062 9.94637 10.1051 10.0268 10.0247C10.1071 9.94437 10.2082 9.88783 10.3188 9.86139L10.3175 9.86263Z" fill="<%= (params[:controller] == "page" && params[:action] == "index") ? "#0bc08b" : " #86898F" %>" fill-opacity="0.8"/>
                  </svg>
                </div>
                <%= link_to "Dashboard", '', class: "nav-text title flex link-clr hover:text-[#0bc08b]", id: "title" %>
              </a>
                    </div>
                  </li>
                  <li class="has-subnav">
                    <a class="main cursor-pointer flex selected title <%= (params[:controller] == "admin/courses" && params[:action] == "index") ? "actived" : "" %>">
                      <div class="fa">
                        <svg class="ml-5 title test-icon " width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 4.79601L10.5 1L19.9999 4.79601L10.5 8.59201L1 4.79601Z" stroke="<%= (params[:controller] == "admin/courses" && params[:action] == "index") ? "#0bc08b" : " #86898F" %>" stroke-opacity="0.8" stroke-width="2" stroke-linejoin="round"/>
                  <path d="M20.0001 4.8457V9.01363M5.3186 6.79568V12.4183C5.3186 12.4183 7.49227 14.5572 10.5002 14.5572C13.5085 14.5572 15.6822 12.4183 15.6822 12.4183V6.79568" stroke="<%= (params[:controller] == "admin/courses" && params[:action] == "index") ? "#0bc08b" : " #86898F" %>" stroke-opacity="0.8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              <span class="nav-text main items-center justify-between mt-[7px] title text-lg font-medium" style="display: flex; font-family: 'Poppins', sans-serif;">Courses<img src="<%= asset_path("down.png") %>" class="mr-5 change-position" alt="...">
                            <ul class="opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm sub hidden mx-auto w-2/4">
                              <li class="flex justify-center"><a href="#" class="block font-[Poppins] text-[15px] font-medium "><%= link_to "Course", admin_courses_path%> </a></li>
                              <li class="flex justify-center"><a href="#" class="block font-[Poppins] text-[15px] font-medium"><%= link_to "Section", admin_sections_path%></a></li>
                              <li class="flex justify-center"><a href="#" class="block font-[Poppins] text-[15px] font-medium"><%= link_to "Session", admin_lessons_path%> </a></li>
                            </ul>
                          </span>
                        </a>
                      </li>
                      <li class="has-subnav">
                        <a class="cursor-pointer selected">
                          <div class="fa">
                            <svg class="ml-5 title" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M16.2 0H1.8C0.81 0 0.00899999 0.81 0.00899999 1.8L0 18L3.6 14.4H16.2C17.19 14.4 18 13.59 18 12.6V1.8C18 0.81 17.19 0 16.2 0ZM16.2 12.6H2.853L2.322 13.131L1.8 13.653V1.8H16.2V12.6ZM8.1 9H9.9V10.8H8.1V9ZM8.1 3.6H9.9V7.2H8.1V3.6Z" fill="#818181"/>
                            </svg>
                          </div>
                          <span class="nav-text title text-lg font-medium font-[Poppins]">
                            Feedback Management
                          </span>
                        </a>
                      </li>
                      <li class="has-subnav">
                        <div class="flex items-center selected <%= (params[:controller] == "admin/users" && params[:action] == "index") ? "actived" : "" %>">
                          <a class="cursor-pointer">
                            <div class="fa">
                              <svg class="ml-5 title" width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 0C6.4202 0 5.38462 0.418977 4.62108 1.16476C3.85755 1.91055 3.4286 2.92205 3.4286 3.97674C3.4286 5.03144 3.85755 6.04294 4.62108 6.78873C5.38462 7.53451 6.4202 7.95349 7.5 7.95349C8.5798 7.95349 9.61538 7.53451 10.3789 6.78873C11.1425 6.04294 11.5714 5.03144 11.5714 3.97674C11.5714 2.92205 11.1425 1.91055 10.3789 1.16476C9.61538 0.418977 8.5798 0 7.5 0ZM4.7143 3.97674C4.7143 3.25511 5.0078 2.56303 5.53021 2.05276C6.05263 1.54248 6.76119 1.25581 7.5 1.25581C8.23881 1.25581 8.94736 1.54248 9.46978 2.05276C9.9922 2.56303 10.2857 3.25511 10.2857 3.97674C10.2857 4.69838 9.9922 5.39046 9.46978 5.90073C8.94736 6.41101 8.23881 6.69767 7.5 6.69767C6.76119 6.69767 6.05263 6.41101 5.53021 5.90073C5.0078 5.39046 4.7143 4.69838 4.7143 3.97674ZM7.5 9.2093C5.51744 9.2093 3.69002 9.64967 2.3366 10.3931C1.0029 11.1265 4.79156e-05 12.2367 4.79156e-05 13.6047V13.69C-0.000809222 14.6629 -0.00166643 15.8835 1.09461 16.7559C1.63375 17.1846 2.38889 17.4901 3.40888 17.6911C4.43059 17.8937 5.76344 18 7.5 18C9.23656 18 10.5686 17.8937 11.592 17.6911C12.612 17.4901 13.3662 17.1846 13.9062 16.7559C15.0025 15.8835 15.0008 14.6629 14.9999 13.69V13.6047C14.9999 12.2367 13.9971 11.1265 12.6643 10.3931C11.31 9.64967 9.48341 9.2093 7.5 9.2093ZM1.28575 13.6047C1.28575 12.8922 1.81889 12.1186 2.9666 11.4882C4.09459 10.8687 5.69573 10.4651 7.50086 10.4651C9.30427 10.4651 10.9054 10.8687 12.0334 11.4882C13.182 12.1186 13.7142 12.8922 13.7142 13.6047C13.7142 14.6997 13.68 15.3159 13.0937 15.7814C12.7765 16.0342 12.2451 16.2812 11.3365 16.4604C10.4306 16.6395 9.19199 16.7442 7.5 16.7442C5.80801 16.7442 4.56859 16.6395 3.66345 16.4604C2.75489 16.2812 2.22346 16.0342 1.90632 15.7822C1.32004 15.3159 1.28575 14.6997 1.28575 13.6047Z" fill="#86898F" fill-opacity="0.8"/>
                              </svg>
                            </div>
                            <%= link_to "User Management", admin_users_path, class: "flex nav-text title link-clr hover:text-[#0bc08b]" %>
                          </a>
                        </div>
                      </li>
                      <li class="has-subnav">
                        <a class="main cursor-pointer flex selected <%= (params[:controller] == "admin/students" && params[:action] == "index") ? "actived" : "" %>">
                          <div class="fa">
                            <svg class="ml-5 title" width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8 8.25162L1 4.64696L8 1L15 4.64696L8 8.25162Z" stroke="#86898F" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M5.02367 6.70117C4.98181 6.95235 4.93994 7.16211 4.93994 7.41373C4.93994 9.13233 6.32364 10.4737 7.99994 10.4737C9.67623 10.4737 11.0599 9.09003 11.0599 7.41373C11.0599 7.16211 11.0181 6.95235 10.9762 6.70117" stroke="#86898F" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M7.99997 18.1862C11.4493 18.1862 14.2456 16.8724 14.2456 15.2518C14.2456 13.6312 11.4493 12.3174 7.99997 12.3174C4.55064 12.3174 1.75439 13.6312 1.75439 15.2518C1.75439 16.8724 4.55064 18.1862 7.99997 18.1862Z" stroke="#86898F" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M1 4.64746V8.67119" stroke="#86898F" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </div>
                          <span class="nav-text main items-center justify-between mt-[7px] title text-lg font-medium font-['Poppins'] link-clr" style="display: flex;">Student Management<img src="<%= asset_path("down.png") %>" class="mr-2 change-position" alt="...">
                            <ul class="opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm sub hidden w-2/4 mx-auto">
                              <li class="flex justify-center"><a href="#" class="block font-medium font-[Poppins] text-[15px]">Attendance Details </a></li>
                              <li class="flex justify-center"><a href="#" class="block font-medium font-[Poppins] text-[15px] <%= (params[:controller] == "admin/students" && params[:action] == "index") ? "#0BC08B" : "#999" %>"> <%= link_to admin_students_path, class: "block font-medium font-[Poppins] text-[15px] #{(params[:controller] == 'admin/students' && params[:action] == 'index') ? 'current-screen-color' : ''}" do %>
                                    Student Details
                                  <% end %></a></li>
                            </ul>
                          </span>
                        </a>
                      </li>
                      <li class="has-subnav">
                        <a class="main cursor-pointer selected">
                          <div class="fa">
                            <svg class="ml-5 title" width="17" height="13" viewBox="0 0 17 13" fill="#86898F" xmlns="http://www.w3.org/2000/svg">
                              <path d="M0 2.65909C0 1.95386 0.28785 1.27751 0.800226 0.77883C1.3126 0.280153 2.00753 0 2.73214 0H14.2679C14.9925 0 15.6874 0.280153 16.1998 0.77883C16.7122 1.27751 17 1.95386 17 2.65909V10.3409C17 11.0461 16.7122 11.7225 16.1998 12.2212C15.6874 12.7198 14.9925 13 14.2679 13H2.73214C2.00753 13 1.3126 12.7198 0.800226 12.2212C0.28785 11.7225 0 11.0461 0 10.3409V2.65909ZM2.73214 1.18182C2.32958 1.18182 1.94351 1.33746 1.65886 1.6145C1.3742 1.89154 1.21429 2.26729 1.21429 2.65909V3.54545H15.7857V2.65909C15.7857 2.26729 15.6258 1.89154 15.3411 1.6145C15.0565 1.33746 14.6704 1.18182 14.2679 1.18182H2.73214ZM1.21429 10.3409C1.21429 10.7327 1.3742 11.1085 1.65886 11.3855C1.94351 11.6625 2.32958 11.8182 2.73214 11.8182H14.2679C14.6704 11.8182 15.0565 11.6625 15.3411 11.3855C15.6258 11.1085 15.7857 10.7327 15.7857 10.3409V4.72727H1.21429V10.3409ZM11.5357 8.27273H13.3571C13.5182 8.27273 13.6726 8.33498 13.7865 8.4458C13.9003 8.55662 13.9643 8.70692 13.9643 8.86364C13.9643 9.02036 13.9003 9.17066 13.7865 9.28147C13.6726 9.39229 13.5182 9.45455 13.3571 9.45455H11.5357C11.3747 9.45455 11.2203 9.39229 11.1064 9.28147C10.9925 9.17066 10.9286 9.02036 10.9286 8.86364C10.9286 8.70692 10.9925 8.55662 11.1064 8.4458C11.2203 8.33498 11.3747 8.27273 11.5357 8.27273Z" fill="#86898F"/>
                            </svg>
                          </div>
                          <span class="nav-text main items-center justify-between mt-[7px] title text-lg font-medium font-['Poppins'] link-clr" style="display: flex;">Payment<img src="<%= asset_path("down.png") %>" class="mr-5 change-position" alt="...">
                            <ul class="opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm sub hidden w-2/4 mx-auto">
                              <li><a href="#" class="block font-medium text=[15px] font-['[15px]">Invoice Creation </a></li>
                              <li><a href="#" class="block font-medium text=[15px] font-['[15px]">Download Invoice</a></li>
                              <li><a href="#" class="block font-medium text=[15px] font-['[15px]">Collection </a></li>
                            </ul>
                          </span>
                        </a>
                      </li>
                      <li class="has-subnav">
                        <a class="main cursor-pointer selected">
                          <div class="fa">
                            <svg class="ml-5 title" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M7.5 9C7.64834 9 7.79334 8.95601 7.91668 8.8736C8.04002 8.79119 8.13614 8.67406 8.19291 8.53701C8.24968 8.39997 8.26453 8.24917 8.23559 8.10368C8.20665 7.9582 8.13522 7.82456 8.03033 7.71967C7.92544 7.61478 7.7918 7.54335 7.64632 7.51441C7.50083 7.48547 7.35003 7.50032 7.21299 7.55709C7.07594 7.61386 6.95881 7.70999 6.8764 7.83332C6.79399 7.95666 6.75 8.10166 6.75 8.25C6.75 8.44891 6.82902 8.63968 6.96967 8.78033C7.11032 8.92098 7.30109 9 7.5 9ZM11.25 9C11.3983 9 11.5433 8.95601 11.6667 8.8736C11.79 8.79119 11.8861 8.67406 11.9429 8.53701C11.9997 8.39997 12.0145 8.24917 11.9856 8.10368C11.9566 7.9582 11.8852 7.82456 11.7803 7.71967C11.6754 7.61478 11.5418 7.54335 11.3963 7.51441C11.2508 7.48547 11.1 7.50032 10.963 7.55709C10.8259 7.61386 10.7088 7.70999 10.6264 7.83332C10.544 7.95666 10.5 8.10166 10.5 8.25C10.5 8.44891 10.579 8.63968 10.7197 8.78033C10.8603 8.92098 11.0511 9 11.25 9ZM7.5 12C7.64834 12 7.79334 11.956 7.91668 11.8736C8.04002 11.7912 8.13614 11.6741 8.19291 11.537C8.24968 11.4 8.26453 11.2492 8.23559 11.1037C8.20665 10.9582 8.13522 10.8246 8.03033 10.7197C7.92544 10.6148 7.7918 10.5434 7.64632 10.5144C7.50083 10.4855 7.35003 10.5003 7.21299 10.5571C7.07594 10.6139 6.95881 10.71 6.8764 10.8333C6.79399 10.9567 6.75 11.1017 6.75 11.25C6.75 11.4489 6.82902 11.6397 6.96967 11.7803C7.11032 11.921 7.30109 12 7.5 12ZM11.25 12C11.3983 12 11.5433 11.956 11.6667 11.8736C11.79 11.7912 11.8861 11.6741 11.9429 11.537C11.9997 11.4 12.0145 11.2492 11.9856 11.1037C11.9566 10.9582 11.8852 10.8246 11.7803 10.7197C11.6754 10.6148 11.5418 10.5434 11.3963 10.5144C11.2508 10.4855 11.1 10.5003 10.963 10.5571C10.8259 10.6139 10.7088 10.71 10.6264 10.8333C10.544 10.9567 10.5 11.1017 10.5 11.25C10.5 11.4489 10.579 11.6397 10.7197 11.7803C10.8603 11.921 11.0511 12 11.25 12ZM3.75 9C3.89834 9 4.04334 8.95601 4.16668 8.8736C4.29001 8.79119 4.38614 8.67406 4.44291 8.53701C4.49968 8.39997 4.51453 8.24917 4.48559 8.10368C4.45665 7.9582 4.38522 7.82456 4.28033 7.71967C4.17544 7.61478 4.0418 7.54335 3.89632 7.51441C3.75083 7.48547 3.60003 7.50032 3.46299 7.55709C3.32594 7.61386 3.20881 7.70999 3.1264 7.83332C3.04399 7.95666 3 8.10166 3 8.25C3 8.44891 3.07902 8.63968 3.21967 8.78033C3.36032 8.92098 3.55109 9 3.75 9ZM12.75 1.5H12V0.75C12 0.551088 11.921 0.360322 11.7803 0.21967C11.6397 0.0790176 11.4489 0 11.25 0C11.0511 0 10.8603 0.0790176 10.7197 0.21967C10.579 0.360322 10.5 0.551088 10.5 0.75V1.5H4.5V0.75C4.5 0.551088 4.42098 0.360322 4.28033 0.21967C4.13968 0.0790176 3.94891 0 3.75 0C3.55109 0 3.36032 0.0790176 3.21967 0.21967C3.07902 0.360322 3 0.551088 3 0.75V1.5H2.25C1.65326 1.5 1.08097 1.73705 0.65901 2.15901C0.237053 2.58097 0 3.15326 0 3.75V12.75C0 13.3467 0.237053 13.919 0.65901 14.341C1.08097 14.7629 1.65326 15 2.25 15H12.75C13.3467 15 13.919 14.7629 14.341 14.341C14.7629 13.919 15 13.3467 15 12.75V3.75C15 3.15326 14.7629 2.58097 14.341 2.15901C13.919 1.73705 13.3467 1.5 12.75 1.5ZM13.5 12.75C13.5 12.9489 13.421 13.1397 13.2803 13.2803C13.1397 13.421 12.9489 13.5 12.75 13.5H2.25C2.05109 13.5 1.86032 13.421 1.71967 13.2803C1.57902 13.1397 1.5 12.9489 1.5 12.75V6H13.5V12.75ZM13.5 4.5H1.5V3.75C1.5 3.55109 1.57902 3.36032 1.71967 3.21967C1.86032 3.07902 2.05109 3 2.25 3H12.75C12.9489 3 13.1397 3.07902 13.2803 3.21967C13.421 3.36032 13.5 3.55109 13.5 3.75V4.5ZM3.75 12C3.89834 12 4.04334 11.956 4.16668 11.8736C4.29001 11.7912 4.38614 11.6741 4.44291 11.537C4.49968 11.4 4.51453 11.2492 4.48559 11.1037C4.45665 10.9582 4.38522 10.8246 4.28033 10.7197C4.17544 10.6148 4.0418 10.5434 3.89632 10.5144C3.75083 10.4855 3.60003 10.5003 3.46299 10.5571C3.32594 10.6139 3.20881 10.71 3.1264 10.8333C3.04399 10.9567 3 11.1017 3 11.25C3 11.4489 3.07902 11.6397 3.21967 11.7803C3.36032 11.921 3.55109 12 3.75 12Z" fill="#86898F" fill-opacity="0.8"/>
                            </svg>
                          </div>
                          <span class="nav-text main items-center justify-between mt-[7px] title text-lg font-medium font-['Poppins'] link-clr" style="display: flex;">Scheduling<img src="<%= asset_path("down.png") %>" class="mr-5 change-position" alt="...">
                            <ul class="opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm sub hidden w-2/4 mx-auto">
                              <li><a href="#" class="block font-medium text=[15px] font-['[15px]">Schedule Plan</a></li>
                            </ul>
                          </span>
                        </a>
                      </li>
                      <li class="has-subnav">
                        <a class="main cursor-pointer selected">
                          <div class="fa">
                            <svg class="ml-5 title" width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8.59995 10.2V16.6M15 7V16.6M2.19995 13.4V16.6" stroke="#86898F" stroke-opacity="0.8" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M1 8.6L14.2 1M14.2 1H9.4M14.2 1L11.8 5" stroke="#86898F" stroke-opacity="0.8" stroke-width="1.5"/>
                            </svg>
                          </div>
                          <span class="nav-text main items-center justify-between mt-[7px] title text-lg font-medium font-['Poppins'] link-clr" style="display: flex;">Sales<img src="<%= asset_path("down.png") %>" class="mr-5 change-position" alt="...">
                            <ul class="opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm sub hidden w-2/4 mx-auto">
                              <li><a href="#" class="block font-medium text=[15px] font-['[15px]">Enquires</a></li>
                            </ul>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <div class="flex flex-col w-full h-screen navbar-reduced">
                    <nav class="bg-white border-gray-200 pr-4 lg:pr-6 py-2.5 dark:bg-gray-800 lg:w-[97%] md:w-[94%] sm:w-[95%] w-[87%] shadow-2xl h-16 ml-auto main-nav" style="box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);">
                      <div class="flex justify-between items-center">
                        <div class="flex justify-start items-center">
                          <a href="#" class="flex mr-4">
                          </a>
                          <form action="#" method="GET" class=" lg:pl-2">
                            <label for="topbar-search" class="sr-only">Search</label>
                            <div class="relative mt-1 lg:w-96">
                              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                <img src="<%= asset_path("search.png") %>">
                              </div>
                              <input type="text" name="email" id="topbar-search" class="border-0 text-base font-medium border-gray-300 text-[#818181] sm:text-sm  block w-full pl-12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:ring-0" placeholder="Search here..." autocomplete="off">
                            </div>
                          </form>
                        </div>
                        <!-- Notifications -->
                        <!-- Dropdown menu -->
                      </li>
                      <button type="button" class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-8x focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
                        <span class="sr-only">Open user menu</span>
                        <img class="w-8 h-8 rounded-full max-w-none sm:max-w-full" src="<%= asset_path("tva.png") %>">
                      </button>
                      <!-- Dropdown menu -->
                      <div class="hidden z-50 my-4 w-[11rem] text-base list-none bg-white rounded-lg shadow dark:bg-gray-700 profile-slider" id="dropdown">
                        <div class="py-3 px-4 text-center">
                          <img class="w-10 h-10 rounded-full bg-gray-800 mx-auto" src="<%= asset_path("tva.png") %>" alt="Rounded avatar">
                          <span class="block text-black text-base font-medium">Neil sims</span>
                          <span class="block truncate text-[#818181] text-[12px] font-medium">name@flowbite.com</span>
                        </div>
                        <span class="w-[80%] mx-auto h-[2px] bg-[#D3D3D3] flex border-b-[0px]"></span>
                        <ul class="py-1 text-gray-500 dark:text-gray-400 border-b-[0px]" aria-labelledby="dropdown">
                          <li class="flex items-center justify-center h-[50px]">
                            <svg width="23px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#818181"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M17.5 21.0001H6.5C5.11929 21.0001 4 19.8808 4 18.5001C4 14.4194 10 14.5001 12 14.5001C14 14.5001 20 14.4194 20 18.5001C20 19.8808 18.8807 21.0001 17.5 21.0001Z" stroke="#818181" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#818181" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                            <a href="#" class="block py-2 pr-4 pl-2 text-center text-[13px] text-black font-['Poppins'] font-medium">Profile</a>
                          </li>
                          <li class="flex items-center justify-center">
                            <svg fill="#818181" height="15.5px" width="19.33px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 471.20 471.20" xml:space="preserve" transform="rotate(180)" stroke="#818181" stroke-width="23.56"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M227.619,444.2h-122.9c-33.4,0-60.5-27.2-60.5-60.5V87.5c0-33.4,27.2-60.5,60.5-60.5h124.9c7.5,0,13.5-6,13.5-13.5 s-6-13.5-13.5-13.5h-124.9c-48.3,0-87.5,39.3-87.5,87.5v296.2c0,48.3,39.3,87.5,87.5,87.5h122.9c7.5,0,13.5-6,13.5-13.5 S235.019,444.2,227.619,444.2z"></path> <path d="M450.019,226.1l-85.8-85.8c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1l62.8,62.8h-273.9c-7.5,0-13.5,6-13.5,13.5 s6,13.5,13.5,13.5h273.9l-62.8,62.8c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l85.8-85.8 C455.319,239.9,455.319,231.3,450.019,226.1z"></path> </g> </g> </g></svg>
                            <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'block py-2 pr-4 pl-2 text-[13px] text-black font-["Poppins"] font-medium text-center' %>
                          </li>
                        </ul>
                      </div>
                    </nav>
                    <div class="bg-[#F0F4F5] h-screen main-page" id="main-page">
                      <%= yield %>
                    </div>
                  </div>
                </div>
              </div>
              <div id="overlay">
                <div class="cv-spinner">
                  <span class="spinner"></span>
                </div>
              </div>
            </body>
          </html>
