<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
    <title>Online Learning Portal</title>
  </head>
  <body class="bg-[#F0F4F5]">
    <div class="area flex h-screen homecontroller">
      <nav class="main-menu title" id="sidebar">
        <ul>
          <li>
            <p class="cursor-pointer flex">
              <div class="fa title title1">
                <img src="<%= asset_path("xmark.png") %>" class="ml-5 mt-2 title cursor-pointer" alt="...">
              </div>
              <span class="hidden open open1">
                <img src="https://techvillageacademy.com/assets/images/logo/logo.png" class="w-25" />
                <img src="<%= asset_path("hamburger.png") %> " class="openmenu cursor-pointer" alt="..." />
              </span>
            </p>
          </li>
          <li class="has-subnav mt-6">
            <div class="flex items-center selected <%= (params[:controller] == "page" && params[:action] == "index") ? "actived" : "" %>">
              <a class="cursor-pointer">
                <div class="fa">
                  <img src="<%= asset_path("dashboard.png") %>" class="ml-5 title" alt="..." id="title">
                </div>
                <%= link_to "Dashboard", root_path, class: "nav-text title flex text-[#999999] hover:text-[#0bc08b]", id: "title" %>
              </a>
            </div>
          </li>
          <li class="has-subnav">
            <a class="main cursor-pointer flex selected title">
              <div class="fa">
                <img src="<%= asset_path("course.png") %>" class="ml-5 title" alt="...">
              </div>
              <span class="nav-text main items-center justify-between mt-[7px] title" style="display: flex;">Courses<img src="<%= asset_path("down.png") %>" class="mr-5" alt="...">
                <ul class="opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm sub hidden mx-auto w-2/4">
                  <li class="flex justify-center"><a href="#" class="block"><%= link_to "Course", admin_courses_path%> </a></li>
                  <li class="flex justify-center"><a href="#" class="block"><%= link_to "Section", admin_sections_path%></a></li>
                  <li class="flex justify-center"><a href="#" class="block">Session </a></li>
                </ul>
              </span>
            </a>
          </li>
          <li class="has-subnav">
            <a class="cursor-pointer selected">
              <div class="fa">
                <img src="<%= asset_path("Vector-1.png") %>" class="ml-5 title" alt="...">
              </div>
              <span class="nav-text title">
                Feedback Management
              </span>
            </a>
          </li>
          <li class="has-subnav">
            <div class="flex items-center selected <%= (params[:controller] == "admin/users" && params[:action] == "index") ? "actived" : "" %>">
              <a class="cursor-pointer">
                <div class="fa">
                  <img src="<%= asset_path("user.png") %>" class="ml-5 title" alt="...">
                </div>
                <%= link_to "User Management", admin_users_path, class: "flex nav-text title text-[#999999] hover:text-[#0bc08b]" %>
              </a>
            </div>
          </li>
          <li class="has-subnav">
            <a class="main cursor-pointer flex selected">
              <div class="fa">
                <img src="<%= asset_path("course.png") %>" class="ml-5 title" alt="...">
              </div>
              <span class="nav-text main items-center justify-between mt-[7px] title" style="display: flex;">Student Management<img src="<%= asset_path("down.png") %>" class="mr-5" alt="...">
                <ul class="opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm sub hidden w-2/4 mx-auto">
                  <li class="flex justify-center"><a href="#" class="block">Attendance Details </a></li>
                  <li class="flex justify-center"><a href="#" class="block">Student Details</a></li>
                </ul>
              </span>
            </a>
          </li>
          <li class="has-subnav">
            <a class="main cursor-pointer selected">
              <div class="fa">
                <img src="<%= asset_path("payment.png") %>" class="ml-5 title" alt="...">
              </div>
              <span class="nav-text main items-center justify-between mt-[7px] title" style="display: flex;">Payment<img src="<%= asset_path("down.png") %>" class="mr-5" alt="...">
                <ul class="opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm sub hidden w-2/4 mx-auto">
                  <li><a href="#" class="block">Invoice Creation </a></li>
                  <li><a href="#" class="block">Download Invoice</a></li>
                  <li><a href="#" class="block">Collection </a></li>
                </ul>
              </span>
            </a>
          </li>
          <li class="has-subnav">
            <a class="main cursor-pointer selected">
              <div class="fa">
                <img src="<%= asset_path("schedule.png") %>" class="ml-5 title" alt="...">
              </div>
              <span class="nav-text main items-center justify-between mt-[7px] title" style="display: flex;">Scheduling<img src="<%= asset_path("down.png") %>" class="mr-5" alt="...">
                <ul class="opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm sub hidden w-2/4 mx-auto">
                  <li><a href="#" class="block">Schedule Plan</a></li>
                </ul>
              </span>
            </a>
          </li>
          <li class="has-subnav">
            <a class="main cursor-pointer selected">
              <div class="fa">
                <img src="<%= asset_path("sales.png") %>" class="ml-5 title" alt="...">
              </div>
              <span class="nav-text main items-center justify-between mt-[7px] title" style="display: flex;">Sales<img src="<%= asset_path("down.png") %>" class="mr-5" alt="...">
                <ul class="opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm sub hidden w-2/4 mx-auto">
                  <li><a href="#" class="block">Enquires</a></li>
                </ul>
              </span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="flex flex-col w-full h-screen">
        <nav class="bg-white border-gray-200 pr-4 lg:pr-6 py-2.5 dark:bg-gray-800 lg:w-[97%] md:w-[94%] sm:w-[95%] w-[87%] shadow-xl h-16 ml-auto main-nav">
          <div class="flex justify-between items-center">
            <div class="flex justify-start items-center">
              <a href="#" class="flex mr-4">
              </a>
              <form action="#" method="GET" class=" lg:pl-2">
                <label for="topbar-search" class="sr-only">Search</label>
                <div class="relative mt-1 lg:w-96">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/> </svg>
                  </div>
                  <input type="text" name="email" id="topbar-search" class="border-0 border-gray-300 text-gray-900 sm:text-sm  block w-full pl-9 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:ring-0" placeholder="Search here...">
                </div>
              </form>
            </div>
            <!-- Notifications -->
            <!-- Dropdown menu -->
          </li>
          <button type="button" class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
            <span class="sr-only">Open user menu</span>
            <img class="w-8 h-8 rounded-full max-w-none sm:max-w-full" src="https://techvillageacademy.com/assets/images/logo/logo.png" alt="user photo">
          </button>
          <!-- Dropdown menu -->
          <div class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown">
            <div class="py-3 px-4 text-center">
              <span class="block text-sm font-semibold text-gray-900 dark:text-white">Neil sims</span>
              <span class="block text-sm text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
            </div>
            <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
              <li>
                <a href="#" class="block py-2 px-4 text-center text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">My profile</a>
              </li>
              <li>
                <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white text-center' %>
              </li>
            </ul>
          </div>
        </nav>
        <div class="bg-[#F0F4F5] h-screen main-page" id="main-page">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.turbo.min.js"></script>
  <script>
    $(document).ready(function() {
        $('.main').click(function() {
          const el = $(this).parent().find('.sub');
          el.slideToggle('slow');
        });
      });

         $(document).ready(function () {
        $('.selected').on('click', function (e) {


      $('.selected').removeClass('actived');

      $(this).addClass('actived');

      // $('.active').css({
      //   'margin-left': '6px',
      //   'background-color': '#31B978',
      //   'color': 'white',
      //   'border-radius': '7px'

      // });

      // $('li .selected:not(.active)').css({
      //   'margin-left': '0',
      //   'background-color': '',
      //   'color': ''
      // });
        });
      });


    $(document).ready(function(){
      $(".title").click(function(){
        $(".title1").css("display","none");
        $(".open").toggle().css({"display": "block"});
        $(".openmenu").css({"position": "absolute", "right": "0px", "top": "15px"});
        $(".main-menu").css({"overflow": "visible", "width": "395px"});
        $(".openmenu").css({"position": "absolute", "right": "10px", "top": "15px"});
        $(".main-menu").css({"overflow": "visible", "width": "310px"});
        $(".main-page").css({"width": "84%", "margin-left": "auto", "transition": "all 0.2s linear"});
        $(".main-nav").css({"width": "84%"});
      });
      $(".open1").click(function(){
        $(".title1").css("display","block");
        $(".open").toggle().css({"display": "none"});
        $(".main-menu").css({"overflow": "hidden", "width": "60px"});
        $(".active").css({"background": "none"});
        $(".main-page").css({"width": "100%"});
        $(".main-nav").css({"width": "97%"});
      })

    })
  </script>
  <script src="https://cdn.jsdelivr.net/npm/preline@2.0.0/dist/preline.min.js"></script>
</body>
</html>
