<% if @course_lessons.present? %>
  <% @course_lessons.each do |lesson| %>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
      <th scope="row" class="px-6 py-4 font-medium text-[12px] sm:text-[14px] md:text-[15px] text-[#818181] whitespace-nowrap dark:text-white">
        <%= lesson.section.course.course_name %>
      </th>
      <td class="px-6 py-4 font-medium text-[12px] sm:text-[14px] md:text-[15px] text-[#818181]">
        <%= lesson.section.title %>
      </td>
      <td class="px-6 py-4 font-medium text-[12px] sm:text-[14px] md:text-[15px] text-[#818181]">
        <%= lesson.title %>
      </td>
      <td class="font-medium text-[12px] sm:text-[14px] md:text-[15px] text-[#818181]">
        <% if lesson.clip.attached? %>
          <video width="60" height="70" poster="<%= asset_path("video_thumbnail.png") %>" >
            <source src="<%= url_for(lesson.clip) %>" type="video/mp4">
          </video>
        <% else %>
          <p>No lesson attached to this record.</p>
        <% end %>
      </td>
      <td class="px-6 py-4 font-medium text-[12px] sm:text-[14px] md:text-[15px] text-[#818181]">
        <%= lesson.description %>
      </td>
      <td class="px-6 py-4 font-medium text-[12px] sm:text-[14px] md:text-[15px] text-[#818181]">
        <% if lesson.attachments.attached? %>
          <% lesson.attachments.each do |attachment| %>
            <%= link_to " #{attachment.filename}", rails_blob_path(attachment, disposition: "attachment") %><br>
          <% end %>
        <% else %>
          <p>No attachments for this lesson.</p>
        <% end %>
        <td class="px-6 py-4 flex gap-4">
          <button data-modal-target="large-modal" data-modal-toggle="large-modal" data-turbo-frame="edit-lesson-popup-frame" data-action="click->modal#toggle" data-url="<%= edit_admin_course_lesson_path(lesson) %>" data-lesson-id="<%= lesson.id %>" class="block w-full md:w-auto edit-lesson-model loader-btn" type="button">
            <img src="<%= asset_path("pencil.png") %>" alt="...">
          </button>
          <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" data-action="click->modal#toggle" data-lesson-id="<%= lesson.id %>" class="block send-delete-lesson loader-btn" type="button">
            <img src="<%= asset_path("delete.png") %>" alt="...">
          </button>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td class="px-6 py-4"></td>
    </tr>
    <tr>
      <td class="px-6 py-4"></td>
    </tr>
    <tr>
      <td class="px-10 py-4"></td>
    </tr>
    <tr>
      <td class="px-6 py-4"></td>
    </tr>
    <tr>
      <td class="px-6 py-4"></td>
    </tr>
    <tr>
      <td class="px-6 py-4"></td>
    </tr>
    <tr>
      <td class="px-6 py-4"></td>
    </tr>
    <tr>
      <td colspan="12" class="px-6 py-4 font-semibold text-[12px] sm:text-[14px] md:text-[15px] lg:text-2xl text-[#818181] text-center">No data found</td>
    </tr>
  <% end %>
  <script>
    $("#create-close-modal").click();
    $("#modal-close-btn").click();
    $("#detele-modal-btn").click();
  </script>
